﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="~/Content/Image/favicon_admin.ico" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/bootstrap-4.1.1-dist/css/bootstrap.min.css")
    @Styles.Render("~/Content/Administracion.css")
    @Styles.Render("~/Content/themes/Menu/jquery-slide-menu.css")
    @Styles.Render("~/Content/themes/Modal/popModal.min.css")
    @Styles.Render("~/Content/themes/Select/select2.min.css")
    @Styles.Render("~/Content/Fonts/fontawesome-free-5.10.1/css/all.min.css")
    @Styles.Render("~/Content/themes/Datatable/datatables.min.css")
    @Styles.Render("~/Content/themes/Datatable/buttons.dataTables.min.css")
    @Styles.Render("~/Content/themes/Datatable/select.dataTables.min.css")
    @Styles.Render("~/Content/bootstrap-datepicker-1.6.4-dist/css/bootstrap-datepicker.min.css")
    @Styles.Render("~/Content/bootstrap-datetimepicker-0.0.11/css/bootstrap-timepicker.min.css")
    @RenderSection("style", required: false)

</head>
<body>
    <!-- Navigation -->
    <!-- Page Content -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2">
                <div class="list-group">
                    @{Html.RenderAction("ConstruirMenu", "Menu");}
                </div>
                <hr />
                <div class="row text-center">
                    <div class="col-lg-6">
                        <button type="button" class="btn btn-primary btn3d" onclick="location.href='@Url.Action("Inicio", "Administracion")'"><i class="fa fa-home"> Inicio</i></button>
                        @*<button type="button" class="btn btn-success btn-circle btn-xl" onclick="location.href='@Url.Action("Inicio", "Administracion")'"><i class="fa fa-home"></i></button>*@
                    </div>
                    <div class="col-lg-6">
                        @using (Html.BeginForm("Salir", "Administracion"))
                        {
                            <button type="submit" class="btn btn-danger  btn3d"><i class="fas fa-sign-out-alt"> Salir</i></button>
                            @*<button type="submit" class="btn btn-warning btn-circle btn-xl"><i class="fas fa-sign-out-alt"></i></button>*@
                        }
                    </div>
                </div>
                <hr />
            </div>
            @RenderBody()
        </div>
        <div class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-7">
                        <p class="m-0 text-left text-white">&copy;<span id="year"></span> Todos los derechos reservados.</p>
                    </div>
                    <div class="col-lg-5">
                        <p id="St-Map" class="m-0 text-right text-white">Site Map: /Principal</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="content" style="display: none;">
    </div>

    @Scripts.Render("~/Scripts/jquery-3.3.1.min.js")
    @Scripts.Render("~/Scripts/jquery-migrate-3.0.0.js")
    @Scripts.Render("~/Content/bootstrap-4.1.1-dist/js/bootstrap.bundle.min.js")
    @Scripts.Render("~/Content/bootstrap-4.1.1-dist/js/bootstrap.min.js")
    @Scripts.Render("~/Scripts/themes/jquery-slide-menu.js")
    @Scripts.Render("~/Scripts/themes/popModal.min.js")
    @Scripts.Render("~/Scripts/themes/select2.min.js")
    @Scripts.Render("~/Scripts/themes/datatables.min.js")
    @Scripts.Render("~/Scripts/themes/dataTables.buttons.min.js")
    @Scripts.Render("~/Scripts/themes/dataTables.select.min.js")
    @Scripts.Render("~/Scripts/themes/ajaxupload.3.5.js")
    @Scripts.Render("~/Scripts/themes/jquery.toast.js")
    @Scripts.Render("~/Content/bootstrap-datepicker-1.6.4-dist/js/bootstrap-datepicker.min.js")
    @Scripts.Render("~/Content/bootstrap-datetimepicker-0.0.11/js/bootstrap-timepicker.min.js")
    @Scripts.Render("~/Content/Plugins/sweetalert2_8.js")
    @Scripts.Render("~/Content/Plugins/moment.min.js")
    @Scripts.Render("~/Scripts/Utiles/Validaciones.js?v=1.0.1")
    <script type="text/javascript">
        $(document).ready(function (e) {
            $('.nav-slide').SlideMenu();
            $("#year").text((new Date).getFullYear());
        });

    </script>
    @RenderSection("scripts", required: false)
</body>
</html>