﻿@{
    ViewBag.Title = "Entradas";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

    <div id="Pn-Operacion" class="col-lg-10">
        <div class="col-lg-12">
            <label class="lbl-register " style="text-align:center; font-size:2em;">
                Entradas
            </label>
        </div>
        <section class="container-fluid br-nav">
            <nav class="navbar navbar-expand-lg navbar-dark rounded myClass">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <button id="btn-new" type="button" class="btn btn-default btn_blanco">Nuevo</button>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item ">
                        <button id="btn-cancel" type="button" class="btn btn-danger btn_rojo" style='display: none;'>Cancelar</button>
                    </li>
                    <li class="nav-item">
                        <button id="btn-save" type="button" class="btn btn-sucess btn_verde" style='display: none;'>Guardar</button>
                    </li>
                </ul>
            </nav>
        </section>

        <div id="wrapper" style="display:none;">
            <form class="frm-register" onsubmit="return false">
                <div class="container col-lg-12">
                    <div class="row">
                        <div class="col-lg-2">
                            <label class="lbl-register ">
                                No. Entrada
                                <input type="text" id="txt-no-entrada" placeholder="Número. entrada" name="Fecha_Entrada" tabindex="1" class="form-control validacion" tipo="numeros" disabled />
                            </label>
                        </div>
                        <div class="col-lg-2">
                            <label class="lbl-register ">
                                Fecha Entrada
                                <input type="text" id="txt-fecha-entrada" placeholder="dd/mm/aaaa" name="Fecha" tabindex="1" class="form-control" />
                            </label>
                        </div>
                        <div class="col-lg-2">
                            <label class="lbl-register ">
                                Estatus
                                <select id="cmb-stt" tabindex="3">
                                    <option value="">Seleccione</option>
                                    <option value="ACTIVO">ACTIVO</option>
                                    <option value="INACTIVO">INACTIVO</option>
                                </select>
                            </label>
                        </div>
                        <div class="col-lg-2">
                            <label class="lbl-register ">
                                Tipo entrada
                                <select id="cmb-tipo-entrada" tabindex="3">
                                    <option value="">Seleccione</option>
                                    <option value="COMPRA">COMPRA</option>
                                    <option value="DEVOLUCION">DEVOLUCION</option>
                                    <option value="OTROS">OTROS</option>
                                </select>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <label class="lbl-register ">
                                Almacen
                                <select id="cmb-almacen" tabindex="2" class="form-control" style="width: 100%;"></select>
                            </label>
                        </div>
                        <div class="col-lg-6">
                            <label class="lbl-register ">
                                Proveedor
                                <select id="cmb-proveedor" tabindex="2" class="form-control" style="width: 100%;"></select>
                            </label>
                        </div>
                    </div>
                    <div class="row" id="datos_factura">
                        <div class="col-lg-3">
                            <label class="lbl-register ">
                                Tipo factura
                                <select id="cmb-tipo-factura" tabindex="3">
                                    <option value="">Seleccione</option>
                                    <option value="FACTURA">FACTURA</option>
                                    <option value="REMISION">REMISION</option>
                                </select>
                            </label>
                        </div>
                        <div class="col-lg-3">
                            <label class="lbl-register ">
                                No. Factura/Remision
                                <input type="text" id="txt-no-factura" placeholder="No. Factura" name="No_Factura" tabindex="1" class="form-control validacion" tipo="caracteres" valores="1234567890áéíóúÁÉÍÓÚñÑ" />
                            </label>
                        </div>
                        <div class="col-lg-3">
                            <label class="lbl-register ">
                                Fecha Factura
                                <input type="text" id="txt-fecha-factura" placeholder="dd/mm/aaaa" name="Fecha" tabindex="1" class="form-control" />
                            </label>
                        </div>
                        <div class="col-lg-3">
                            <label class="lbl-register ">
                                Total Factura
                                <input type="text" id="txt-total-factura" placeholder="Total Factura" name="Total_Factura" tabindex="1" class="form-control validacion" tipo="numeros" valores="." />
                            </label>
                        </div>
                    </div>
                    <div class="row" id="datos_factura_2">
                        <div class="col-lg-3">
                            <label class="lbl-register ">
                                Fecha Recepción
                                <input type="text" id="txt-fecha-recepcion" placeholder="dd/mm/aaaa" name="Fecha_Recepcion" tabindex="1" class="form-control" disabled />
                            </label>
                        </div>
                        <div class="col-lg-3" style="visibility:hidden">
                            <label class="lbl-register ">
                                Dias crédito
                                <input type="text" id="diasCreditoProv" name="diasCreditoProv" value="0" disabled />
                            </label>
                        </div>
                        <div class="col-lg-3" style="visibility:hidden">
                            <label class="lbl-register ">
                                Fecha Pago
                                <input type="text" id="txt-fecha-pago" placeholder="dd/mm/aaaa" name="Fecha_Pago" tabindex="1" class="form-control" disabled />
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5">
                            <label class="lbl-register ">
                                Insumos
                                <select id="cmb-insumos" tabindex="2" class="form-control" style="width: 100%;"></select>
                            </label>
                        </div>
                        <div class="col-lg-2">
                            <label class="lbl-register ">
                                Cantidad
                                <input type="text" id="txt-cantidad" placeholder="Cantidad" name="Cantidad" tabindex="8" class="form-control validacion" tipo="numeros" valores="." />
                            </label>
                        </div>a
                        <div class="col-lg-2">
                            <label class="lbl-register ">
                                Unidad
                                <select id="cmb-unidad" tabindex="3" disabled></select>
                            </label>
                        </div>
                        <div class="col-lg-2">
                            <label class="lbl-register ">
                                Importe
                                <input type="text" id="txt-precio" placeholder="Precio" name="Precio" tabindex="8" class="form-control validacion" tipo="numeros" valores="." />
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <label class="lbl-register ">
                                SUBTOTAL
                                <input type="text" id="txt-subtotal" placeholder="SUBTOTAL" name="subtotal" tabindex="1" class="form-control validacion" tipo="numeros" disabled />
                            </label>
                        </div>
                        <div class="col-lg-2">
                            <label class="lbl-register ">
                                IEPS
                                <input type="text" id="txt-ieps" placeholder="IEPS" name="ieps" tabindex="1" class="form-control validacion" tipo="numeros" disabled />
                            </label>
                        </div>
                        <div class="col-lg-2">
                            <label class="lbl-register ">
                                IVA
                                <input type="text" id="txt-iva" placeholder="IVA" name="iva" tabindex="1" class="form-control validacion" tipo="numeros" disabled />
                            </label>
                        </div>
                        <div class="col-lg-3">
                            <label class="lbl-register ">
                                TOTAL
                                <input type="text" id="txt-total" placeholder="Total" name="Total" tabindex="1" class="form-control validacion" tipo="numeros" disabled />
                            </label>
                        </div>
                        <div class="col-lg-1">
                            <label class="lbl-register ">
                                &nbsp;
                                <button type="button" class="btn btn-primary btn-agregar-partida" style="display:block"><i class="fas fa-plus"></i></button>
                                <input type="hidden" id="hdn-iva" />
                                <input type="hidden" id="hdn-ieps" />

                                <input type="hidden" id="hdn-iva-total" />
                                <input type="hidden" id="hdn-ieps-total" />
                                <input type="hidden" id="hdn-sub-total-general" />
                                <input type="hidden" id="hdn-total-general" />

                            </label>
                        </div>
                    </div>
                    <div class="row">

                        <div class="row-fluid Reg-Datos col-xs-12 col-md-12" id="Reg-Partidas">
                            <label class="lbl-register ">
                                Partidas
                                <table id="Tbl_Partidas" class="display compact" cellspacing="0" width="100%"></table>
                            </label>
                        </div>
                    </div>
                </div>
</form>
        </div>
        <div class="row-fluid Reg-Datos" id="Reg-Datos">
            <div class="col-xs-12 col-md-12">
                <table id="Tbl_Registros" class="display compact" cellspacing="0" width="100%"></table>
            </div>
        </div>
    </div>
@section scripts{
    <script src="~/Scripts/Operacion/Entradas.js?v=1.0.2"></script>
}