﻿@if (Model.Rows.Count > 0)
{
    <div class="nav-slide">
        @foreach (System.Data.DataRow row in Model.Rows)
        {
            if (System.String.IsNullOrEmpty(row["Parent_ID"].ToString()))
            {
                <div class="nav-body">
                    <div class="head-slide">@row["Nombre"].ToString()</div>
                    <div class="body-slide">
                        <ul class="nav-list">
                            @foreach (System.Data.DataRow temp_row in Model.Rows)
                            {
                                if (row["Menu_ID"].ToString() == temp_row["Parent_ID"].ToString())
                                {

                                    <li ><i class="@temp_row["Icono"].ToString()"></i> @Html.ActionLink(temp_row["Nombre"].ToString(), temp_row["Accion"].ToString(), temp_row["Controlador"].ToString())</li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            }
        }
    </div>
}