﻿@{
    ViewBag.Title = "Riego";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<div id="Pn-Operacion" class="col-lg-10">     
    <div class="col-lg-12">
        <label class="lbl-register " style="text-align:center; font-size:2em;">
            Riego
        </label>
    </div>
    <section class="container-fluid br-nav">
        <nav class="navbar navbar-expand-lg navbar-dark rounded myClass">
            <ul class="navbar-nav mr-auto">                
                <li class="nav-item ">
                    <button id="btn-new" type="button" class="btn btn-default btn_blanco">Nuevo</button>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                 <li class="nav-item ">
                    <button id="btn-cancel" type="button" class="btn btn-danger btn_rojo" style='display: none;'>Cancelar</button>
                </li>
                <li class="nav-item">
                    <button id="btn-save" type="button" class="btn btn-sucess btn_verde" style='display: none;'>Guardar</button>
                </li>
            </ul>
        </nav>
    </section>

    <div id="wrapper" style="display:none;">
        <form class="frm-register" onsubmit="return false">  
            <div class="col-lg-2">
                <label class="lbl-register">
                    Fecha
                    <input type="text" id="txt-fecha" placeholder="Fecha" name="Fecha" tabindex="1" class="form-control" />
                </label>
            </div>      
            <div class="col-lg-2">
                <label class="lbl-register">
                    Horas
                    <input type="text" id="txt-horas" placeholder="Horas" name="Horas" tabindex="2" class="form-control validacion" tipo="numeros" valores="."/>
                </label>
            </div>    
            <div class="col-lg-4" style ="display:none;">
                <label class="lbl-register ">
                    Tanque
                    <select id="cmb-tanque" tabindex="3">
                        <option value="">Seleccione</option>
                        <option value="TANQUE 1">TANQUE 1</option>
                        <option value="TANQUE 2">TANQUE 2</option>
                        <option value="TANQUE 3">TANQUE 3</option>
                        <option value="TANQUE 4">TANQUE 4</option>
                    </select>
                </label>
            </div>  
            <div class="col-lg-2" style ="display:none;">
                <label class="lbl-register">
                    Num. Tanques
                    <input type="text" id="txt-num" placeholder="Num. Tanques" name="Num_Tanques" tabindex="4" class="form-control validacion" tipo="numeros"/>
                </label>
            </div>     
            <div class="col-lg-2 ">
                <label class="lbl-register">Acido</label>
                <div class='material-switch pull-right'>
                    <input id="chk-carga_acido" type="checkbox" name='carga_acido' />
                    <label for='chk-carga_acido' class='badge-success'></label>
                </div>
            </div>         
            <div class="col-lg-12">                
                <label class="lbl-register " style="text-align:center;">
                    TABLAS
                </label>               
            </div> 
            <div class="col-lg-12">                
                <input type="hidden" id="hf-tabla_id"/>                    
                <div id="Div_Hectareas" class="row"></div>                
            </div>    
            <br />
            <div class="col-lg-8">
                <label class="lbl-register">
                    Empleado
                <select id="cmb-emp" tabindex="4" class="form-control" style="width: 100%;"></select>
                </label>
            </div>
            <div class="col-lg-2">
                <label class="lbl-register">
                    No Empleado
                    <input type="text" id="txt-no_emp" placeholder="No Empleado" name="No_Empleado" tabindex="5" class="form-control validacion" tipo="numeros"/>
                </label>
            </div>       
            <div class="col-lg-2" style="display:none;">
                <label class="lbl-register">
                    Cantidad
                    <input type="text" id="txt-cantidad" placeholder="Cantidad" name="Cantidad" tabindex="6" class="form-control validacion" tipo="numeros" valores="."/>                    
                </label>
            </div>  
            <div class="col-lg-2">                            
                <button id="btn-add-emp" type="button" class="btn btn-sucess" tabindex="-1" style="width:100%">Agregar</button>                
            </div>                                                           
        </form>  
        <div class="row-fluid Reg-Datos">
            <div class="col-xs-12 col-md-12">
                <table id="Tbl_Registros_Emp" cellspacing="0" width="100%"></table>
            </div>
        </div>  
        <div class="row-fluid Reg-Datos">
            <div class="col-lg-12">
                <label class="lbl-register">
                    No salida
                <select id="cmb-sal" tabindex="4" class="form-control" style="width: 100%;"></select>
                </label>
            </div>            
            <div class="col-xs-12 col-md-12">
                <table id="Tbl_Registros_Salidas" cellspacing="0" width="100%"></table>
            </div>
        </div>            
    </div>    
    
    <div class="row-fluid Reg-Datos" id="Reg_Datos">
        <div class="col-xs-12 col-md-12">
            <table id="Tbl_Registros" class="display compact" cellspacing="0" width="100%"></table>
        </div>
    </div>
</div>

<!-- The Modal Progrees-->
<div class="modal" id="Ventana_Espera">
    <div class="modal-dialog">
        <div class="modal-content">            
            <div class="modal-header">
                <h4 class="modal-title">Procesando</h4>
            </div>
            <div class="modal-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/Seguridad/Riego.js?v=1.0.7"></script>
}

