﻿body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #E9EBEE;    
    margin: 0;
  margin-bottom: 40px;
}

html
{
    position: relative; 
    min-height: 100%;
}

header, footer, nav, section {
    display: block;
}

input[type=text], input[type=password] {
    background-color: #FAFFBD;
}
.logo_inicio {
    width: 50%;
    height: 60%;
    float: right;
    margin-top:5px;
}
/*-----------------------------------------------------------------------*/
/* FOOTER  */
/*-----------------------------------------------------------------------*/
.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #004E7C;
    height: 40px;
    color: white;
    text-align: center;
}
  
/*-----------------------------------------------------------------------*/
/* Styles for basic forms
/*-----------------------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}

/*-----------------------------------------------------------------------*/
/** ¨FORMULARIO **/
/*-----------------------------------------------------------------------*/

.frm-register {
  display: block;
  overflow: hidden;
  background: #fff;
  font-size: 0;
}

.frm-register-div {
  overflow: hidden;
  background: #fff;
  width: 100%;
  margin-left:1px;
}

.lbl-register
  {
  display: block;
  padding: 20px 20px 10px;
  vertical-align: top;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  color: #243238;
  cursor: pointer;
}
.lbl-register{
  padding: 16px 20px 13px;
}

.lbl-register > input {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 27px;
  line-height: 27px;
  margin: 5px -5px 0;
  padding: 7px 5px 3px;
  border: none;
  outline: none;
  color: #555;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  opacity: .6;
  transition: all linear .3s;
}

.col-submit {
  text-align: center;
  padding: 20px;
}

.lbl-register > select {
  display: block;
  width: 100%;
  padding: 0;
  color: #555;
  margin: 16px 0 6px;
  font-weight: 500;
  background: transparent;
  border: none;
  outline: none;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;
  opacity: .4;
  transition: all linear .3s;
}

.lbl-register > input:focus, .lbl-register > select:focus {
  opacity: 1;
}
/** responsive design **/
@media (min-width: 850px){
  .frm-register > div { display: inline-block; }
  .frm-register-div > div { display: inline-block; }
  
  .col-submit { display: block; }
}



/*-----------------------------------------------------------------------*/
/*MENU */
/*-----------------------------------------------------------------------*/
.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

tr.group,
tr.group:hover {
    background-color: #ddd !important;
}
.Reg-Datos {
    background:#fff; 
    width:100%;

}


/**BOTONES*/

/*-----------------------------------------------------------------------*/
/*ENCABEZADO FORMULARIO / BOTONES*/
/*-----------------------------------------------------------------------*/
.btn_verde {
    width: 150px;
    margin: 5px 5px 5px 0;
    text-align: center;
    border: 1px solid #87B655;
    -webkit-box-shadow: #b4b5b5 4px 4px 4px;
    -moz-box-shadow: #b4b5b5 4px 4px 4px;
    box-shadow: #b4b5b5 4px 4px 4px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 15px;
    font-family: arial, helvetica, sans-serif;
    text-decoration: none;
    display: inline-block;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    color: #FFFFFF;
    background-color: #87B655;
    background-image: linear-gradient(to bottom, #87B655, #044902);
}
    .btn_verde:hover {
        background-color: #6fbe5a;
        background-image: linear-gradient(to bottom, #6be04c, #052803);
        font-family: arial, helvetica, sans-serif;
        font-weight: bold;
    }

.btn_rojo {
    width: 150px;
    margin: 5px 5px 5px 0;
    text-align: center;
    border: 1px solid #87B655;
    -webkit-box-shadow: #b4b5b5 4px 4px 4px;
    -moz-box-shadow: #b4b5b5 4px 4px 4px;
    box-shadow: #b4b5b5 4px 4px 4px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 15px;
    font-family: arial, helvetica, sans-serif;
    text-decoration: none;
    display: inline-block;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    color: #FFFFFF;
    background-color: #b50e0e;
    background-image: linear-gradient(to bottom, #b50e0e, #600505);
}
    .btn_rojo:hover {
        background-color: #842b2b;
        background-image: linear-gradient(to bottom, #842b2b, #471616);
        font-family: arial, helvetica, sans-serif;
        font-weight: bold;
    }

.btn_azul {
    margin: 5px 5px 5px 0;
    text-align: center;
    border: 1px solid #87B655;
    -webkit-box-shadow: #b4b5b5 4px 4px 4px;
    -moz-box-shadow: #b4b5b5 4px 4px 4px;
    box-shadow: #b4b5b5 4px 4px 4px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 15px;
    font-family: arial, helvetica, sans-serif;
    text-decoration: none;
    display: inline-block;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    color: #FFFFFF;
    background-image: linear-gradient(to bottom, #39b3d7, #257891);
}

.btn_blanco {
    width: 150px;
    margin: 5px 5px 5px 0;
    text-align: center;
    border: 1px solid #BEBEBE;
    -webkit-box-shadow: #b4b5b5 4px 4px 4px;
    -moz-box-shadow: #b4b5b5 4px 4px 4px;
    box-shadow: #b4b5b5 4px 4px 4px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 15px;
    font-family: arial, helvetica, sans-serif;
    text-decoration: none;
    display: inline-block;
    
    font-weight: bold;
    color: #000;
    background-image: linear-gradient(to bottom,  #BEBEBE, #F9F9F9);
}
    .btn_blanco:hover { 
        background-color: #BEBEBE;
        background-image: linear-gradient(to bottom, #BEBEBE, #BEBEBE);
        font-family: arial, helvetica, sans-serif;
        color: #000;
        font-weight: bold;
    }
  

.btn_naranja {
    width: 150px;
    margin: 5px 5px 5px 0;
    text-align: center;
    border: 1px solid #87B655;
    -webkit-box-shadow: #b4b5b5 4px 4px 4px;
    -moz-box-shadow: #b4b5b5 4px 4px 4px;
    box-shadow: #b4b5b5 4px 4px 4px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 15px;
    font-family: arial, helvetica, sans-serif;
    text-decoration: none;
    display: inline-block;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    color: #FFFFFF;
    background-color: #f78f11;
    background-image: linear-gradient(to bottom, #f78f11, #683a02);
}
    .btn_naranja:hover {
        background-color: #842b2b;
        background-image: linear-gradient(to bottom, #ce7100, #683a02);
        font-family: arial, helvetica, sans-serif;
         color: #FFFFFF;
        font-weight: bold;
    }


.br-nav {
    background-color: #004E7C;
}

@media only screen and (min-device-width : 60px) and (max-device-width : 480px) {
    .myClass > ul > li {        
        padding: 23px;
        padding-bottom: 20px;
        width: 100%;
    }
    .btn_verde, .btn_rojo, .btn_azul, btn_blanco {
        width: 100%;
        float: right;
    }
     .br-nav {
        margin-top: 100px;
    }
}

@media only screen and (min-device-width : 481px) and (max-device-width : 991px) {
   
    .myClass > ul > li {
        display: inline-block;
    }
}


.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
    -moz-box-shadow: 0px 5px 0 #424242;
    -webkit-box-shadow: 0px 5px 0 #424242;
}

.btn3d {
    position:relative;
    top: -6px;
    border:0;
     transition: all 40ms linear;
     margin-top:10px;
     margin-bottom:10px;
     margin-left:2px;
     margin-right:2px;
}
.btn3d:active:focus,
.btn3d:focus:hover,
.btn3d:focus {
    -moz-outline-style:none;
         outline:medium none;
}
.btn3d:active, .btn3d.active {
    top:2px;
}
.btn3d.btn-white {
    color: #666666;
    box-shadow:0 0 0 1px #ebebeb inset, 0 0 0 2px rgba(255,255,255,0.10) inset, 0 8px 0 0 #f5f5f5, 0 8px 8px 1px rgba(0,0,0,.2);
    background-color:#fff;
}
.btn3d.btn-white:active, .btn3d.btn-white.active {
    color: #666666;
    box-shadow:0 0 0 1px #ebebeb inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,.1);
    background-color:#fff;
}
.btn3d.btn-default {
    color: #666666;
    box-shadow:0 0 0 1px #ebebeb inset, 0 0 0 2px rgba(255,255,255,0.10) inset, 0 8px 0 0 #BEBEBE, 0 8px 8px 1px rgba(0,0,0,.2);
    background-color:#f9f9f9;
}
.btn3d.btn-default:active, .btn3d.btn-default.active {
    color: #666666;
    box-shadow:0 0 0 1px #ebebeb inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,.1);
    background-color:#f9f9f9;
}
.btn3d.btn-primary {
    box-shadow:0 0 0 1px #417fbd inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #4D5BBE, 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#4274D7;
}
.btn3d.btn-primary:active, .btn3d.btn-primary.active {
    box-shadow:0 0 0 1px #417fbd inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,0.3);
    background-color:#4274D7;
}
.btn3d.btn-success {
    box-shadow:0 0 0 1px #31c300 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #5eb924, 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#78d739;
}
.btn3d.btn-success:active, .btn3d.btn-success.active {
    box-shadow:0 0 0 1px #30cd00 inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,0.3);
    background-color: #78d739;
}
.btn3d.btn-info {
    box-shadow:0 0 0 1px #00a5c3 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #348FD2, 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#39B3D7;
}
.btn3d.btn-info:active, .btn3d.btn-info.active {
    box-shadow:0 0 0 1px #00a5c3 inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,0.3);
    background-color: #39B3D7;
}
.btn3d.btn-warning {
    box-shadow:0 0 0 1px #d79a47 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #D79A34, 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#FEAF20;
}
.btn3d.btn-warning:active, .btn3d.btn-warning.active {
    box-shadow:0 0 0 1px #d79a47 inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,0.3);
    background-color: #FEAF20;
}
.btn3d.btn-danger {
    box-shadow:0 0 0 1px #b93802 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #AA0000, 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#D73814;
}
.btn3d.btn-danger:active, .btn3d.btn-danger.active {
    box-shadow:0 0 0 1px #b93802 inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,0.3);
    background-color: #D73814;
}
.btn3d.btn-magick {
    color: #fff;
    box-shadow:0 0 0 1px #9a00cd inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #9823d5, 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#bb39d7;
}
.btn3d.btn-magick:active, .btn3d.btn-magick.active {
    box-shadow:0 0 0 1px #9a00cd inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,0.3);
    background-color: #bb39d7;
}


.destacados > div > div{
	padding: 10px;
	border: 1px solid transparent;
	border-radius: 4px;
	transition: 0.2s;
}
.destacados > div:hover > div{
	margin-top: -10px;
	border: 1px solid rgb(200, 200, 200);
	box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;
	background: rgba(200, 200, 200, 0.1);
	transition: 0.5s;
}

select > option {
text-align:center;
}

select {

  /* styling */
  background-color: white;
  border: thin solid blue;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

  /* reset */

  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}


/* arrows */

select.minimal {
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}

select.minimal:focus {
  background-image:
    linear-gradient(45deg, green 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, green 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  border-color: green;
  outline: 0;
}


select.classic {
  background-image:
    linear-gradient(45deg, transparent 50%, blue 50%),
    linear-gradient(135deg, blue 50%, transparent 50%),
    linear-gradient(to right, skyblue, skyblue);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
}

select.classic:focus {
  background-image:
    linear-gradient(45deg, white 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, white 50%),
    linear-gradient(to right, gray, gray);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
  border-color: grey;
  outline: 0;
}




select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

/**//**//**//**//**//**//**//**//**//**//**//**/

    
    .event-list {
		list-style: none;
		font-family: 'Lato', sans-serif;
		margin: 0px;
		padding: 0px;
	}
	.event-list > li {
		background-color: rgb(255, 255, 255);
		box-shadow: 0px 0px 5px rgb(51, 51, 51);
		box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
		padding: 0px;
		margin: 0px 0px 20px;
	}
	.event-list > li > time {
		display: inline-block;
		width: 100%;
		color: rgb(255, 255, 255);
		background-color: rgb(197, 44, 102);
		padding: 5px;
		text-align: center;
		text-transform: uppercase;
	}
	.event-list > li:nth-child(even) > time {
		background-color: rgb(165, 82, 167);
	}
	.event-list > li > time > span {
		display: none;
	}
	.event-list > li > time > .day {
		display: block;
		font-size: 56pt;
		font-weight: 100;
		line-height: 1;
	}
	.event-list > li time > .month {
		display: block;
		font-size: 24pt;
		font-weight: 900;
		line-height: 1;
	}
	.event-list > li > img {
		width: 100%;
	}
	.event-list > li > .info {
		padding-top: 5px;
		text-align: center;
	}
	.event-list > li > .info > .title {
		font-size: 17pt;
		font-weight: 700;
		margin: 0px;
	}
	.event-list > li > .info > .desc {
		font-size: 13pt;
		font-weight: 300;
		margin: 0px;
	}
	.event-list > li > .info > ul,
	.event-list > li > .social > ul {
		display: table;
		list-style: none;
		margin: 10px 0px 0px;
		padding: 0px;
		width: 100%;
		text-align: center;
	}
	.event-list > li > .social > ul {
		margin: 0px;
	}
	.event-list > li > .info > ul > li,
	.event-list > li > .social > ul > li {
		display: table-cell;
		cursor: pointer;
		color: rgb(30, 30, 30);
		font-size: 11pt;
		font-weight: 300;
        padding: 3px 0px;
	}
    .event-list > li > .info > ul > li > a {
		display: block;
		width: 100%;
		color: rgb(30, 30, 30);
		text-decoration: none;
	} 
    .event-list > li > .social > ul > li {    
        padding: 0px;
    }
    .event-list > li > .social > ul > li > a {
        padding: 3px 0px;
	} 
	.event-list > li > .info > ul > li:hover,
	.event-list > li > .social > ul > li:hover {
		color: rgb(30, 30, 30);
		background-color: rgb(200, 200, 200);
	}
	.facebook a,
	.twitter a,
	.google-plus a {
		display: block;
		width: 100%;
		color: rgb(75, 110, 168) !important;
	}
	.twitter a {
		color: rgb(79, 213, 248) !important;
	}
	.google-plus a {
		color: rgb(221, 75, 57) !important;
	}
	.facebook:hover a {
		color: rgb(255, 255, 255) !important;
		background-color: rgb(75, 110, 168) !important;
	}
	.twitter:hover a {
		color: rgb(255, 255, 255) !important;
		background-color: rgb(79, 213, 248) !important;
	}
	.google-plus:hover a {
		color: rgb(255, 255, 255) !important;
		background-color: rgb(221, 75, 57) !important;
	}

	@media (min-width: 768px) {
		.event-list > li {
			position: relative;
			display: block;
			width: 100%;
			height: 120px;
			padding: 0px;
		}
		.event-list > li > time,
		.event-list > li > img  {
			display: inline-block;
		}
		.event-list > li > time,
		.event-list > li > img {
			width: 120px;
			float: left;
		}
		.event-list > li > .info {
			background-color: rgb(245, 245, 245);
			overflow: hidden;
		}
		.event-list > li > time,
		.event-list > li > img {
			width: 120px;
			height: 120px;
			padding: 0px;
			margin: 0px;
		}
		.event-list > li > .info {
			position: relative;
			height: 120px;
			text-align: left;
			padding-right: 40px;
		}	
		.event-list > li > .info > .title, 
		.event-list > li > .info > .desc {
			padding: 0px 10px;
		}
		.event-list > li > .info > ul {
			position: absolute;
			left: 0px;
			bottom: 0px;
		}
		.event-list > li > .social {
			position: absolute;
			top: 0px;
			right: 0px;
			display: block;
			width: 40px;
		}
        .event-list > li > .social > ul {
            border-left: 1px solid rgb(230, 230, 230);
        }
		.event-list > li > .social > ul > li {			
			display: block;
            padding: 0px;
		}
		.event-list > li > .social > ul > li > a {
			display: block;
			width: 40px;
			padding: 10px 0px 9px;
		}
	}

/**//**//**//**//**//**//**//**//**//**//**//**/
.carousel-multi-item .carousel-indicators
{
    margin-bottom:-2em
}
.carousel-multi-item .card-cascade.narrower{
    margin-top:1.25rem;margin-bottom:.3rem
}
@media (min-width:768px){
    .carousel-multi-item .col-md-4{
        float:left;width:33.333333%;max-width:100%
    }
}
@media only screen and (max-width:992px){
.carousel-multi-item .carousel-indicators li{
    margin-bottom:-1.88rem
}}
.carousel-thumbnails{
    margin-bottom:5rem
}
.carousel-thumbnails .carousel-indicators{
    margin-bottom:-4.69rem;position:absolute
}
.carousel-thumbnails .carousel-indicators li{
    height:auto;width:6.25rem;max-width:6.25rem;border:none
}
.carousel-thumbnails .carousel-indicators .active{
    height:auto;width:auto;opacity:1
}
.carousel-thumbnails .carousel-indicators img{
    max-width:6.25rem;height:auto;overflow:hidden;display:block
}
@media only screen and (max-width:540px){
    .carousel-thumbnails{
        margin-bottom:3.75rem
    }
    .carousel-thumbnails .carousel-indicators{
        margin-bottom:-3.44rem
    }
}
.wrapper-carousel-fix .carousel-fade .active.carousel-item-left,.wrapper-carousel-fix .carousel-fade .active.carousel-item-right{
    -webkit-transition:-webkit-transform .6s ease;
    transition:-webkit-transform .6s ease;
    -o-transition:transform .6s ease;
    transition:transform .6s ease;
    transition:transform .6s ease,-webkit-transform .6s ease;
    -webkit-transition-property:opacity;
    -o-transition-property:opacity;
    transition-property:opacity
}