﻿@{
    ViewBag.Title = "Ranchos";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}
<div id="Pn-Operacion" class="col-lg-10">
    <div class="col-lg-12">
        <label class="lbl-register " style="text-align:center; font-size:2em;">
            Ranchos
        </label>
    </div>
    <section class="container-fluid br-nav">
        <nav class="navbar navbar-expand-lg navbar-dark rounded myClass">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <button id="btn-new" type="button" class="btn btn-default btn_blanco">Nuevo</button>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                    <button id="btn-cancel" type="button" class="btn btn-danger btn_rojo" style='display: none;'>Cancelar</button>
                </li>
                <li class="nav-item">
                    <button id="btn-save" type="button" class="btn btn-sucess btn_verde" style='display: none;'>Guardar</button>
                </li>
            </ul>
        </nav>
    </section>

    <div id="wrapper" style="display:none;">
        <form class="frm-register" onsubmit="return false">
            <div class="col-lg-6">
                <label class="lbl-register ">
                    Nombre
                    <input type="text" id="txt-nombre" placeholder="Nombre" name="Nombre" tabindex="1" class="form-control validacion" tipo="caracteres" valores="1234567890áéíóúÁÉÍÓÚñÑ" />
                </label>
            </div>
            <div class="col-lg-6">
                <label class="lbl-register ">
                    Estatus
                    <select id="cmb-stt" tabindex="2">
                        <option value="">Seleccione</option>
                        <option value="ACTIVO">ACTIVO</option>
                        <option value="INACTIVO">INACTIVO</option>
                    </select>
                </label>
            </div>
            <div class="col-lg-12">
                <label class="lbl-register ">
                    Descripci&oacute;n
                    <textarea rows="4" cols="50" id="txt-descripcion" placeholder="Descripci&oacute;n" name="Descripcion" tabindex="3" class="form-control validacion" tipo="caracteres" valores="1234567890áéíóúÁÉÍÓÚñÑ"></textarea>
                </label>
            </div>
        </form>
    </div>
    <div class="row-fluid Reg-Datos" id="Reg-Datos">
        <div class="col-xs-12 col-md-12">
            <table id="Tbl_Registros" class="display compact" cellspacing="0" width="100%"></table>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/Seguridad/Ranchos.js"></script>
}
