﻿@{
    ViewBag.Title = "RptFumigacion";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<div id="Pn-Reporte" class="col-lg-10">
    <div class="col-lg-12">
        <label class="lbl-register " style="text-align:center; font-size:2em;">
            Reporte Fumigacion
        </label>
    </div>
    <section class="container-fluid br-nav">
        <nav class="navbar navbar-expand-lg navbar-dark rounded myClass">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <button id="btn-cns" type="button" class="btn btn-info btn_azul">Consultar</button>
                </li>                
            </ul>
            <ul class="navbar-nav ml-auto">    
                <li class="nav-item ">
                    <button id="btn-regresar" type="button" class="btn btn-danger btn_rojo" style='display: none;'>Regresar</button>
                </li>            
                <li class="nav-item">
                    <button id="btn-xcl" type="button" class="btn btn-sucess btn_verde" >Exportar Excel</button>
                </li>
            </ul>
        </nav>
    </section>

    <div id="wrapper">
        <form class="frm-register" onsubmit="return false"> 
            <div class="col-lg-6">
                <label class="lbl-register">
                    Fecha Inicio
                    <input type="text" id="txt-fecha_inicio" placeholder="Fecha Inicio" name="Fecha_Inicio" tabindex="1" class="form-control" />
                </label>
            </div>   
            <div class="col-lg-6">
                <label class="lbl-register">
                    Fecha Fin
                    <input type="text" id="txt-fecha_fin" placeholder="Fecha Fin" name="Fecha_Fin" tabindex="2" class="form-control" />
                </label>
            </div>                  
            <hr />
        </form>        
    </div>
    
    <div class="row-fluid Reg-Datos" id="Reg-Datos">
        <div class="col-xs-12 col-md-12">
            <table id="Tbl_Registros" class="display compact" cellspacing="0" width="100%"></table>
        </div>
    </div>

    <div id="detalles" style="display:none;">
        <form class="frm-register" onsubmit="return false">            
            <div class="col-lg-6">
                <label class="lbl-register">
                    Fecha
                    <input type="text" id="txt-fecha" placeholder="Fecha" name="Fecha" class="form-control" disabled="disabled" />
                </label>
            </div>      
            <div class="col-lg-6">
                <label class="lbl-register">
                    Litros
                    <input type="text" id="txt-litros" placeholder="Litros" name="Litros" class="form-control" disabled="disabled" />
                </label>
            </div>
            <div class="col-lg-6">
                <label class="lbl-register">
                    Pago Por
                    <input type="text" id="txt-pago_por" placeholder="Pago Por" name="Pago_Por" class="form-control" disabled="disabled" />
                </label>
            </div>
            <div class="col-lg-6">
                <label class="lbl-register">
                    Total Empleados
                    <input type="text" id="txt-total_empleados" placeholder="Total Empelados" name="Total_Empelados" class="form-control" disabled="disabled" />
                </label>
            </div>  
        </form>
        <div class="row-fluid Reg-Datos">
            <div class="col-xs-12 col-md-12">
                <table id="Tbl_Registros_Tablas" cellspacing="0" width="100%"></table>
            </div>
        </div> 
        <div class="row-fluid Reg-Datos">
            <div class="col-xs-12 col-md-12">
                <table id="Tbl_Registros_Detalles" cellspacing="0" width="100%"></table>
            </div>
        </div> 
        <div class="row-fluid Reg-Datos">
            <div class="col-xs-12 col-md-12">
                <table id="Tbl_Registros_Salidas" cellspacing="0" width="100%"></table>
            </div>
        </div>
        <div class="row-fluid Reg-Datos">
            <div class="col-xs-12 col-md-12">
                <table id="Tbl_Registros_Salidas_Detalles" cellspacing="0" width="100%"></table>
            </div>
        </div> 
    </div>
</div>

@section scripts{        
    <script src="~/Scripts/Seguridad/RptFumigacion.js?v=1.0.3"></script>
}


