﻿@{
    ViewBag.Title = "NotasSalida";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<div id="Pn-Operacion" class="col-lg-10">     
    <div class="col-lg-12">
        <label class="lbl-register " style="text-align:center; font-size:2em;">
            Notas Salida
        </label>
    </div>
    <section class="container-fluid br-nav">
        <nav class="navbar navbar-expand-lg navbar-dark rounded myClass">
            <ul class="navbar-nav mr-auto">                
                <li class="nav-item ">
                    <button id="btn-new" type="button" class="btn btn-default btn_blanco">Nuevo</button>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                 <li class="nav-item ">
                    <button id="btn-cancel" type="button" class="btn btn-danger btn_rojo" style='display: none;'>Cancelar</button>
                </li>
                <li class="nav-item">
                    <button id="btn-save" type="button" class="btn btn-sucess btn_verde" style='display: none;'>Guardar</button>
                </li>
            </ul>
        </nav>
    </section>

    <div id="wrapper" style="display:none;">
        <form class="frm-register" onsubmit="return false">  
            <div class="col-lg-3">
                <label class="lbl-register">
                    Fecha
                    <input type="text" id="txt-fecha" placeholder="Fecha" name="Fecha" tabindex="1" class="form-control" />
                </label>
            </div>      
            <div class="col-lg-9">
                <label class="lbl-register">
                    Agricultor
                    <input type="text" id="txt-agricultor" placeholder="Agricultor" name="Agricultor" tabindex="2" class="form-control validacion" tipo="caracteres" valores="1234567890áéíóúÁÉÍÓÚñÑ "/>
                </label>
            </div>                       
            <br />
            <div class="col-lg-3">
                <label class="lbl-register">
                    Clave
                    <input type="text" id="txt-clave" placeholder="Clave" name="Clave" tabindex="3" class="form-control validacion" tipo="numeros"/>
                </label>
            </div> 
            <div class="col-lg-9">
                <label class="lbl-register">
                    Producto
                    <input type="text" id="txt-producto" placeholder="Producto" name="Producto" tabindex="4" class="form-control validacion" tipo="caracteres" valores="1234567890áéíóúÁÉÍÓÚñÑ "/>
                </label>
            </div>                  
            <div class="col-lg-2">
                <label class="lbl-register">
                    Cajas
                    <input type="text" id="txt-cajas" placeholder="Cajas" name="Cajas" tabindex="5" class="form-control validacion" tipo="numeros" valores="."/>                    
                </label>
            </div>  
            <div class="col-lg-2">
                <label class="lbl-register">
                    Peso
                    <input type="text" id="txt-peso" placeholder="Peso" name="Peso" tabindex="6" class="form-control validacion" tipo="numeros" valores="."/>                    
                </label>
            </div>  
            <div class="col-lg-2">
                <label class="lbl-register">
                    Kilogramos
                    <input type="text" id="txt-kg" placeholder="Kilogramos" name="Kilogramos" tabindex="7" class="form-control validacion" tipo="numeros" valores="." disabled="disabled"/>                    
                </label>
            </div>              
            <div class="col-lg-2" >
                <label class="lbl-register">
                    Precio
                    <input type="text" id="txt-precio" placeholder="Precio" name="Precio" tabindex="8" class="form-control validacion" tipo="numeros" valores="."/>                    
                </label>
            </div>  
            <div class="col-lg-2">
                <label class="lbl-register">
                    Total
                    <input type="text" id="txt-tot" placeholder="Total" name="Cantidad" tabindex="9" class="form-control validacion" tipo="numeros" valores="." disabled="disabled"/>                    
                </label>
            </div>  
            <div class="col-lg-2">                            
                <button id="btn-add-emp" type="button" class="btn btn-sucess" tabindex="-1" style="width:100%">Agregar</button>                
            </div>                                                                 
        </form>  
        <div class="row-fluid Reg-Datos">
            <div class="col-xs-12 col-md-12">
                <table id="Tbl_Registros_Productos" cellspacing="0" width="100%"></table>
            </div>
            <br />
        </div>  
        <form class="frm-register" onsubmit="return false">
            <div class="col-lg-8">
                <label class="lbl-register" style="text-align:right">Total Cajas</label>
            </div>
            <div class="col-lg-4">                
                <input type="text" id="txt-tot_cajas" placeholder="Tot Cajas" name="tot_cajas" tabindex="10" class="form-control validacion" tipo="numeros" valores="." disabled="disabled"/>                
            </div> 
            <div class="col-lg-8">
                <label class="lbl-register" style="text-align:right">Total Peso</label>
            </div>
            <div class="col-lg-4">                
                <input type="text" id="txt-tot_peso" placeholder="Tot Peso" name="tot_peso" tabindex="11" class="form-control validacion" tipo="numeros" valores="." disabled="disabled"/>                
            </div> 
            <div class="col-lg-8">
                <label class="lbl-register" style="text-align:right">Total Kilogramos</label>
            </div>
            <div class="col-lg-4">                
                <input type="text" id="txt-tot_kg" placeholder="Tot Kilogramos" name="tot_Kilogramos" tabindex="12" class="form-control validacion" tipo="numeros" valores="." disabled="disabled"/>                
            </div>             
            <div class="col-lg-8">
                <label class="lbl-register" style="text-align:right">Total</label>
            </div>
            <div class="col-lg-4">                
                <input type="text" id="txt-total" placeholder="Total" name="Total" tabindex="14" class="form-control validacion" tipo="numeros" valores="." disabled="disabled"/>                
            </div>
            <div class="col-lg-10">
                <label class="lbl-register">
                    Fecha Corte
                    <input type="text" id="txt-fecha_corte" placeholder="Fecha Corte" name="Fecha_Corte" tabindex="1" class="form-control" />
                </label>
            </div>
            <div class="col-lg-2">                            
                <button id="btn-add-corte" type="button" class="btn btn-search" tabindex="-1" style="width:100%">Buscar</button>                
            </div>       
        </form> 
        <div class="row-fluid Reg-Datos">
            <div class="col-xs-12 col-md-12">
                <table id="Tbl_Registros_Destajo" cellspacing="0" width="100%"></table>
            </div>
            <br />
        </div>             
    </div>    
    
    <div class="row-fluid Reg-Datos" id="Reg_Datos">
        <div class="col-xs-12 col-md-12">
            <table id="Tbl_Registros" class="display compact" cellspacing="0" width="100%"></table>
        </div>        
    </div>
</div>

<!-- The Modal Progrees-->
<div class="modal" id="Ventana_Espera">
    <div class="modal-dialog">
        <div class="modal-content">            
            <div class="modal-header">
                <h4 class="modal-title">Procesando</h4>
            </div>
            <div class="modal-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/Seguridad/NotasSalida.js?v=1.0.2"></script>
}
