﻿@{
    ViewBag.Title = "SRG Global | Empleados";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<div id="Pn-Empleado" class="col-lg-10">
    <div class="col-lg-12">
        <label class="lbl-register " style="text-align:center; font-size:2em;">
            Empleados
        </label>
    </div>
    <section class="container-fluid br-nav">
        <nav class="navbar navbar-expand-lg navbar-dark rounded myClass">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <button id="btn-new" type="button" class="btn btn-default btn_blanco">Nuevo</button>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                    <button id="btn-cancel" type="button" class="btn btn-danger btn_rojo" style='display: none;'>Cancelar</button>
                </li>
                <li class="nav-item">
                    <button id="btn-save" type="button" class="btn btn-sucess btn_verde" style='display: none;'>Guardar</button>
                </li>
            </ul>
        </nav>
    </section>

    <div id="wrapper" style="display:none;" >
        <form class="frm-register" onsubmit="return false">
            <div class="col-lg-3">
                <label class="lbl-register text-center">
                    No. Empleado
                       <input type="text" id="txt-no-mpl" placeholder="No.Empleado" name="No. Empleado" tabindex="1" class="form-control text-center" disabled="disabled" />
                </label>
            </div>
            <div class="col-lg-6">
                <label class="lbl-register text-center">
                    Nombre
                    <input type="text" id="txt-nmb" placeholder="Nombre" name="Nombre" tabindex="2" class="form-control" />
                </label>
            </div>
            <div class="col-lg-6">
                <label class="lbl-register text-center">
                    Salario Diario
                    <input type="text" id="txt-salario" placeholder="Salario" name="Salario Destajo" tabindex="3" class="form-control validacion" tipo="numeros" valores="."/>
                </label>
            </div>
            <div class="col-lg-6">
                <label class="lbl-register text-center">
                    Salario Diario Fumigacion
                    <input type="text" id="txt-salario_Fumigacion" placeholder="Salario Fumigacion" name="Salario" tabindex="4" class="form-control validacion" tipo="numeros" valores="."/>
                </label>
            </div>
            <div class="col-lg-6">
                <label class="lbl-register text-center">
                    Usuario
                    <input type="text" id="txt-usua" placeholder="Usuario" name="Usuario" tabindex="5" class="form-control text-center validacion" tipo="caracteres" />
                </label>
            </div>
            <div class="col-lg-6">
                <label class="lbl-register text-center">
                    Contraseña
                    <input type="password" id="txt-cnt" placeholder="Contraseña" name="Contraseña" tabindex="6" class="form-control text-center validacion" tipo="caracteres" />
                </label>
            </div>
            <div class="col-lg-6">
                <label class="lbl-register text-center">
                    Correo Electrónico
                    <input type="text" id="txt-crr-elc" placeholder="Correo Electrónico" name="Correo Electronico" tabindex="7" class="form-control validacion" tipo="caracteres"/>
                </label>
            </div>
            <div class="col-lg-3">
                <label class="lbl-register text-center">
                    Estatus
                    <select id="cmb-stt" tabindex="8">
                        <option value="">Seleccione</option>
                        <option value="ACTIVO">ACTIVO</option>
                        <option value="INACTIVO">INACTIVO</option>
                    </select>
                </label>
            </div>
            <div class="col-lg-12" id="chk_access">
                <label class="lbl-register text-center">
                    Accesos</label>
            </div>
        </form>
        
    </div>
    
    <div class="row-fluid Reg-Datos" id="Reg-Datos">
        <div class="col-xs-12 col-md-12">
            <table id="Tbl_Registros" class="display compact" cellspacing="0" width="100%"></table>
        </div>
    </div>
</div>
@section scripts{
    <script>
        jQuery(document).ready(function () {
            include('Empleados.js?v=1.0.13');
        });

        function include(file) {
            var script = document.createElement('script');
            script.src = "Scripts/Seguridad/" + file;
            script.type = 'text/javascript';
            script.defer = true;
            document.getElementsByTagName('head').item(0).appendChild(script);

        }
    </script>
}