﻿@{
    ViewBag.Title = "Sistema";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}
    <div id="Pn-Operacion" class="col-lg-10">
        <div class="float-right">
                <img src="http://69.64.46.231/Administracion_Charca/Content/Image/logo_empresa.jpg" class="logo_inicio">
            </div>
        </div>
