﻿@{
    ViewBag.Title = "SRG Global | Parámetros";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}
<div id="Pn-Empleado" class="col-lg-10">
    <div class="col-lg-12">
        <label class="lbl-register " style="text-align:center; font-size:2em;">
            Parametros
        </label>
    </div>
    <section class="container-fluid br-nav">
         <nav class="navbar navbar-expand-lg navbar-dark  rounded myClass ">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                     <button id="btn_guardar" type="button" class="btn btn-sucess btn_verde" title="Guardar">Guardar</button>
                </li>
            </ul>
        </nav>
    </section>
    <div id="wrapper">
        <form class="frm-register" onsubmit="return false">
            <div class="col-lg-6">
                <label class="lbl-register">
                    Proveedor de correo
                    <input type="text" id="txt-prv-crr" placeholder="Proveedor de correo" name="Proveedor_de_correo" tabindex="1" class="form-control validacion" tipo="caracteres" />
                </label>
            </div>
            <div class="col-lg-3">
                <label class="lbl-register">
                    Puerto
                    <input type="text" id="txt-prt" placeholder="Puerto" name="puerto" tabindex="2" class="form-control validacion" tipo="numeros" />
                </label>
            </div>
            <div class="col-lg-3 ">
                <label class="lbl-register">SSL Cifrado </label>
                <div class='material-switch pull-right'>
                    <input id="chk-ssl-cfr" type="checkbox" name='ssl-cifrado' />
                    <label for='chk-ssl-cfr' class='badge-success'></label>
                </div>
            </div>
            <div class="col-lg-6">
                <label class="lbl-register">
                    Servidor de correo
                    <input type="text" id="txt-srv" placeholder="Servidor de correo" name="servidor" tabindex="3" class="form-control validacion" tipo="caracteres" />
                </label>
            </div>
            <div class="col-lg-6">
                <label class="lbl-register">
                    Contraseña
                    <input type="password" id="txt-cnt" placeholder="Contraseña" name="password" tabindex="4" class="form-control validacion" tipo="caracteres" />
                </label>
            </div>          
            <div class="col-lg-6">
                <label class="lbl-register">
                    Rancho
                <select id="cmb-rancho" tabindex="5" class="form-control" style="width: 100%;"></select>
                </label>
            </div>
            <div class="col-lg-6">
                <label class="lbl-register">
                    Precio Litro Fumigacion
                    <input type="text" id="txt-pre_lit_fum" placeholder="Precio Litro Fumigacion" name="Precio_Litro_Fumigacion" tabindex="6" class="form-control validacion" tipo="numeros" valores="."/>
                </label>
            </div>       
            <div class="col-lg-12">
                <label class="lbl-register">
                    Comentarios
                    <input type="text" id="txt-comentarios" placeholder="Comentarios" name="Comentarios" tabindex="6" class="form-control validacion" tipo="caracteres" valores=",.;:_-+*!'#$%&/()=?¡¿ñÑáéíóúÁÉÍÓÚ" maxlength="500">
                </label>
            </div>
        </form>
    </div>
</div>
@section scripts{
    <script>
        jQuery(document).ready(function () {
            include('Parametros.js?v=1.0.7');
        });

        function include(file) {

            var script = document.createElement('script');
            script.src = "Scripts/Seguridad/" + file;
            script.type = 'text/javascript';
            script.defer = true;

            document.getElementsByTagName('head').item(0).appendChild(script);

        }
    </script>
}