﻿@{
    ViewBag.Title = "Insumos";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

    <div id="Pn-Operacion" class="col-lg-10">
        <div class="col-lg-12">
            <label class="lbl-register " style="text-align:center; font-size:2em;">
                Insumos
            </label>
        </div>
        <section class="container-fluid br-nav">
            <nav class="navbar navbar-expand-lg navbar-dark rounded myClass">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <button id="btn-new" type="button" class="btn btn-default btn_blanco">Nuevo</button>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item ">
                        <button id="btn-cancel" type="button" class="btn btn-danger btn_rojo" style='display: none;'>Cancelar</button>
                    </li>
                    <li class="nav-item">
                        <button id="btn-save" type="button" class="btn btn-sucess btn_verde" style='display: none;'>Guardar</button>
                    </li>
                </ul>
            </nav>
        </section>

        <div id="wrapper" style="display:none;">
            <form class="frm-register" onsubmit="return false">
                <div class="container col-lg-12">
                    <div class="row">
                        <div class="col-lg-4">
                            <label class="lbl-register ">
                                Nombre
                                <input type="text" id="txt-nombre" placeholder="Nombre" name="Nombre" tabindex="1" class="form-control validacion" tipo="caracteres" valores="1234567890áéíóúÁÉÍÓÚñÑ" />
                            </label>
                        </div>
                        <div class="col-lg-4">
                            <label class="lbl-register ">
                                Tipo Insumo
                                <select id="cmb-ti" tabindex="2" class="form-control" style="width: 100%;"></select>
                            </label>
                        </div>
                        <div class="col-lg-4">
                            <label class="lbl-register ">
                                Estatus
                                <select id="cmb-stt" tabindex="3">
                                    <option value="">Seleccione</option>
                                    <option value="ACTIVO">ACTIVO</option>
                                    <option value="INACTIVO">INACTIVO</option>
                                </select>
                            </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4">
                            <label class="lbl-register ">
                                Unidad de compra
                                <select id="cmb-unidad" tabindex="2" class="form-control" style="width: 100%;"></select>
                            </label>
                        </div>
                        <div class="col-lg-4">
                            <label class="lbl-register ">
                                Unidad de consumo
                                <select id="cmb-unidad-consumo" tabindex="2" class="form-control" style="width: 100%;"></select>
                            </label>
                        </div>
                        <div class="col-lg-2">
                            <label class="lbl-register ">
                                Valor
                                <input type="text" id="txt-equivalencia" placeholder="Precio" name="Precio" tabindex="8" class="form-control validacion" tipo="numeros" valores="." />
                            </label>
                        </div>
                        <div class="col-lg-2">
                            <label class="lbl-register ">
                                <p id="txt_equivalencia_texto"></p>
                            </label>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <label class="lbl-register ">
                                Proveedor
                                <select id="cmb-proveedor" tabindex="2" class="form-control" style="width: 100%;"></select>
                            </label>
                        </div>
                    </div>

                    @*<div class="col-lg-4" style="visibility:hidden">
            <label class="lbl-register ">
                Almacen
                <select id="cmb-almacen" tabindex="3" class="form-control" style="width: 100%;"></select>
            </label>
        </div>*@

                    <div class="row">
                        <div class="col-lg-2 col-md-4 col-sm-12">
                            <label class="lbl-register ">
                                M&aacute;ximo
                                <input type="text" id="txt-max" placeholder="M&aacute;ximo" name="Maximo" tabindex="5" class="form-control validacion" tipo="numeros" />
                            </label>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-12">
                            <label class="lbl-register ">
                                M&iacute;nimo
                                <input type="text" id="txt-min" placeholder="M&iacute;nimo" name="Minimo" tabindex="6" class="form-control validacion" tipo="numeros" />
                            </label>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-12">
                            <label class="lbl-register ">
                                Reorden
                                <input type="text" id="txt-reo" placeholder="Reorden" name="Punto_Reorden" tabindex="7" class="form-control validacion" tipo="numeros" />
                            </label>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-12">
                            <label class="lbl-register ">
                                Existencias
                                <input type="text" id="txt-existencias" placeholder="Existencias" name="Exitencias" tabindex="9" class="form-control validacion" tipo="numeros" disabled />
                            </label>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <label class="lbl-register ">
                                Ubicaci&oacute;n
                                <input type="text" id="txt-ubicacion" placeholder="Ubicaci&oacute;n" name="Ubicacion" tabindex="9" class="form-control validacion" tipo="caracteres" valores="1234567890áéíóúÁÉÍÓÚñÑ" />
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2 col-md-4 col-sm-12">
                            <label class="lbl-register ">
                                Costo
                                <input type="text" id="txt-costo" placeholder="Costo" name="Costo" tabindex="8" class="form-control validacion" tipo="numeros" valores="." />
                            </label>
                        </div>
                        @*<div class="col-lg-2">
            <label class="lbl-register ">
                Lleva IVA
                <select id="cmb-iva" tabindex="14">
                    <option value="NO" selected>NO</option>
                    <option value="SI">SI</option>
                </select>
            </label>
        </div>
        <div class="col-lg-2">
            <label class="lbl-register ">
                Lleva IEPS
                <select id="cmb-ieps" tabindex="15">
                    <option value="NO" selected>NO</option>
                    <option value="SI">SI</option>
                </select>
            </label>
        </div>*@
                        <div class="col-lg-2 col-md-4 col-sm-12">
                            <label class="lbl-register ">
                                % IVA
                                <input type="text" id="txt-porcentajeIVA" placeholder="% IVA" name="IVA" tabindex="14" class="form-control validacion" tipo="numeros" valores="." />
                            </label>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-12">
                            <label class="lbl-register ">
                                % IEPS
                                <input type="text" id="txt-porcentajeIEPS" placeholder="% IEPS" name="IEPS" tabindex="15" class="form-control validacion" tipo="numeros" valores="." />
                            </label>
                        </div>

                        <div class="col-lg-2 col-md-4 col-sm-12">
                            <label class="lbl-register ">
                                IVA
                                <input type="text" id="txt-iva" placeholder="IVA" name="IVA" tabindex="16" class="form-control validacion" tipo="numeros" valores="." disabled />
                            </label>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-12">
                            <label class="lbl-register ">
                                IEPS
                                <input type="text" id="txt-ieps" placeholder="IEPS" name="IEPS" tabindex="17" class="form-control validacion" tipo="numeros" valores="." disabled />
                            </label>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-12">
                            <label class="lbl-register ">
                                TOTAL
                                <input type="text" id="txt-total" placeholder="Total" name="Total" tabindex="18" class="form-control validacion" tipo="numeros" disabled />
                            </label>
                        </div>

                    </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <label class="lbl-register ">
                                    Descripci&oacute;n
                                    <textarea rows="4" cols="50" id="txt-descripcion" placeholder="Descripci&oacute;n" name="Descripcion" tabindex="4" class="form-control validacion" tipo="caracteres" valores="1234567890áéíóúÁÉÍÓÚñÑ"></textarea>
                                </label>
                            </div>
                        </div>

                    </div>
</form>
        </div>
        <div class="row-fluid Reg-Datos" id="Reg-Datos">
            <div class="col-xs-12 col-md-12">
                <table id="Tbl_Registros" class="display compact" cellspacing="0" width="100%"></table>
            </div>
        </div>
    </div>
@section scripts{
    <script src="~/Scripts/Seguridad/Insumos.js?v=1.3"></script>
}