﻿@{
    ViewBag.Title = "CancelacionPagoProveedores";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<div id="Pn-Operacion" class="col-lg-10">    
    <div class="col-lg-12">
        <label class="lbl-register " style="text-align:center; font-size:2em;">
            Cancelacion Pago Proveedores
        </label>
    </div>
    <section class="container-fluid br-nav">
        <nav class="navbar navbar-expand-lg navbar-dark rounded myClass">            
            <ul class="navbar-nav mr-auto">                
                <li class="nav-item " style="display:none">
                    <button id="btn-new" type="button" class="btn btn-default btn_blanco">Nuevo</button>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                 <li class="nav-item ">
                    <button id="btn-cancel" type="button" class="btn btn-danger btn_rojo" style='display: none;'>Cancelar</button>
                </li>
                <li class="nav-item">
                    <button id="btn-save" type="button" class="btn btn-sucess btn_verde" style='display: none;'>Guardar</button>
                </li>
            </ul>
        </nav>
    </section>

    <div id="wrapper" style="display:none;">
        <form class="frm-register" onsubmit="return false">                
            <div class="col-lg-4">
                <label class="lbl-register ">
                    No Factura
                    <input type="text" id="txt-no_factura_proveedor" placeholder="No Factura" name="No_Factura" tabindex="5" class="form-control" disabled="disabled"/>
                </label>
            </div>            
            <div class="col-lg-12">
                <label class="lbl-register ">
                    Proveedor 
                    <input type="text" id="txt-proveedor" placeholder="Proveedor" name="Proveedor" tabindex="6" class="form-control" disabled="disabled"/>
                </label>
            </div>
            <div class="col-lg-12">
                <label class="lbl-register ">
                    Concepto 
                    <input type="text" id="txt-concepto" placeholder="Concepto" name="Concepto" tabindex="7" class="form-control" disabled="disabled"/>
                </label>
            </div>            
            <div class="col-lg-12">
                <label class="lbl-register ">
                    Motivo Cancelacion 
                    <input type="text" id="txt-motivo" placeholder="Motivo" name="Motivo" tabindex="8" class="form-control validacion" tipo="caracteres" valores="1234567890áéíóúÁÉÍÓÚñÑ "/>
                </label>
            </div>            
            <div class="col-lg-8">
                <label class="lbl-register" style="text-align:right">Monto</label>
            </div>
            <div class="col-lg-4">                
                <input type="text" id="txt-monto" placeholder="Monto" name="Monto" tabindex="12" class="form-control" disabled="disabled"/>                
            </div>           
        </form>
    </div>
    <div class="row-fluid Reg-Datos" id="Reg-Datos">
        <form class="frm-register" onsubmit="return false">
            <div class="col-lg-4">
                <label class="lbl-register ">
                    No Factura
                    <input type="text" id="txt-no_factura" placeholder="No Factura" name="No_Factura" tabindex="1" class="form-control validacion" tipo="caracteres" valores="1234567890.,:;-_/#$%&()"/>
                </label>
            </div>
            <div class="col-lg-4">
                <label class="lbl-register">
                    Fecha Inicio
                    <input type="text" id="txt-fecha_inicio" placeholder="Fecha Inicio" name="Fecha_Inicio" tabindex="2" class="form-control" />
                </label>
            </div>  
            <div class="col-lg-4">
                <label class="lbl-register">
                    Fecha Fin
                    <input type="text" id="txt-fecha_fin" placeholder="Fecha Fin" name="Fecha_Fin" tabindex="3" class="form-control" />
                </label>
            </div>  
            <div class="col-lg-10">
                <label class="lbl-register ">
                    Proveedor 
                    <select id="cmb-proveedor" tabindex="4" class="form-control" style="width: 100%;"></select>
                </label>
            </div>
            <div class="col-lg-2">
                <button id="btn-cns" type="button" class="btn btn-info btn_azul">Consultar</button>
            </div>       
        </form> 
        <div class="col-xs-12 col-md-12">
            <table id="Tbl_Registros" class="display compact" cellspacing="0" width="100%"></table>
        </div>
    </div>
</div>

<!-- The Modal Progrees-->
<div class="modal" id="Ventana_Espera">
    <div class="modal-dialog">
        <div class="modal-content">            
            <div class="modal-header">
                <h4 class="modal-title">Procesando</h4>
            </div>
            <div class="modal-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/Seguridad/CancelacionPagoProveedores.js?v=1.0.2"></script>
}
