﻿@{
    ViewBag.Title = "Facturas";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<div id="Pn-Operacion" class="col-lg-10">    
    <div class="col-lg-12">
        <label class="lbl-register " style="text-align:center; font-size:2em;">
            Facturas Proveedor
        </label>
    </div>
    <section class="container-fluid br-nav">
        <nav class="navbar navbar-expand-lg navbar-dark rounded myClass">            
            <ul class="navbar-nav mr-auto">                
                <li class="nav-item ">
                    <button id="btn-new" type="button" class="btn btn-default btn_blanco">Nuevo</button>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                 <li class="nav-item ">
                    <button id="btn-cancel" type="button" class="btn btn-danger btn_rojo" style='display: none;'>Cancelar</button>
                </li>
                <li class="nav-item">
                    <button id="btn-save" type="button" class="btn btn-sucess btn_verde" style='display: none;'>Guardar</button>
                </li>
            </ul>
        </nav>
    </section>

    <div id="wrapper" style="display:none;">
        <form class="frm-register" onsubmit="return false">                
            <div class="col-lg-4">
                <label class="lbl-register ">
                    No Factura
                    <input type="text" id="txt-no_factura" placeholder="No Factura" name="No_Factura" tabindex="1" class="form-control validacion" tipo="caracteres" valores="1234567890.,:;-_/#$%&()"/>
                </label>
            </div>
            <div class="col-lg-4">
                <label class="lbl-register">
                    Fecha Recepcion
                    <input type="text" id="txt-fecha_recepcion" placeholder="Fecha Recepcion" name="Fecha_Recepcion" tabindex="2" class="form-control" />
                </label>
            </div>  
            <div class="col-lg-4">
                <label class="lbl-register">
                    Fecha Vencimiento
                    <input type="text" id="txt-fecha_vencimiento" placeholder="Fecha Vencimiento" name="Fecha_Vencimiento" tabindex="3" class="form-control" />
                </label>
            </div>  
            <div class="col-lg-12">
                <label class="lbl-register ">
                    Proveedor 
                    <select id="cmb-proveedor" tabindex="4" class="form-control" style="width: 100%;"></select>
                </label>
            </div>
            <div class="col-lg-10">
                <label class="lbl-register ">
                    Concepto 
                    <input type="text" id="txt-concepto" placeholder="Concepto" name="Concepto" tabindex="5" class="form-control validacion" tipo="caracteres" valores="1234567890áéíóúÁÉÍÓÚñÑ "/>
                </label>
            </div>
            <div class="col-lg-2">
                <label class="lbl-register ">
                    Estatus
                    <select id="cmb-stt" tabindex="6" disabled="disabled">                        
                        <option value="POR PAGAR">POR PAGAR</option>
                        <option value="ABONADA">ABONADA</option>
                        <option value="PAGADA">PAGADA</option>
                        <option value="CANCELADA">CANCELADA</option>
                    </select>
                </label>
            </div>   
            <div class="col-lg-12">
                <label class="lbl-register ">
                    Comentarios 
                    <input type="text" id="txt-comentarios" placeholder="Comentarios" name="Comentarios" tabindex="7" class="form-control validacion" tipo="caracteres" valores="1234567890áéíóúÁÉÍÓÚñÑ.,:;-_/#$%&() "/>
                </label>
            </div>
            <div class="col-lg-8">
                <label class="lbl-register" style="text-align:right">Importe</label>
            </div>
            <div class="col-lg-4">                
                <input type="text" id="txt-importe" placeholder="Importe" name="Importe" tabindex="8" class="form-control validacion" tipo="numeros" valores="."/>                
            </div> 
            <div class="col-lg-8">
                <label class="lbl-register" style="text-align:right">Descuento</label>
            </div>
            <div class="col-lg-4">                
                <input type="text" id="txt-descuento" placeholder="Descuento" name="Importe" tabindex="9" class="form-control validacion" tipo="numeros" valores="."/>                
            </div> 
            <div class="col-lg-8">
                <label class="lbl-register" style="text-align:right">Subtotal</label>
            </div>
            <div class="col-lg-4">                
                <input type="text" id="txt-subtotal" placeholder="Subtotal" name="Subtotal" tabindex="10" class="form-control validacion" tipo="numeros" valores="." disabled="disabled"/>                
            </div> 
            <div class="col-lg-8">
                <label class="lbl-register" style="text-align:right">IVA</label>
            </div>
            <div class="col-lg-4">                
                <input type="text" id="txt-iva" placeholder="Iva" name="Iva" tabindex="11" class="form-control validacion" tipo="numeros" valores="."/>                
            </div> 
            <div class="col-lg-8">
                <label class="lbl-register" style="text-align:right">IEPS</label>
            </div>
            <div class="col-lg-4">                
                <input type="text" id="txt-ieps" placeholder="Ieps" name="Ieps" tabindex="12" class="form-control validacion" tipo="numeros" valores="."/>                
            </div> 
            <div class="col-lg-8">
                <label class="lbl-register" style="text-align:right">Total</label>
            </div>
            <div class="col-lg-4">                
                <input type="text" id="txt-total" placeholder="Total" name="Total" tabindex="13" class="form-control validacion" tipo="numeros" valores="." disabled="disabled"/>                
            </div>           
        </form>
        <div class="row-fluid Reg-Datos" id="Reg-Datos_Det">                     
            <div class="col-xs-12 col-md-12">
                <table id="Tbl_Registros_Entradas" cellspacing="0" width="100%"></table>
            </div>
        </div>
    </div>
    <div class="row-fluid Reg-Datos" id="Reg-Datos">
        <div class="col-xs-12 col-md-12">
            <table id="Tbl_Registros" class="display compact" cellspacing="0" width="100%"></table>
        </div>
    </div>
</div>

<!-- The Modal Progrees-->
<div class="modal" id="Ventana_Espera">
    <div class="modal-dialog">
        <div class="modal-content">            
            <div class="modal-header">
                <h4 class="modal-title">Procesando</h4>
            </div>
            <div class="modal-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/Seguridad/Facturas.js?v=1.0.3"></script>
}
