﻿@{
    ViewBag.Title = "PagoProveedores";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<div id="Pn-Operacion" class="col-lg-10">    
    <div class="col-lg-12">
        <label class="lbl-register " style="text-align:center; font-size:2em;">
            Pago Proveedores
        </label>
    </div>
    <section class="container-fluid br-nav">
        <nav class="navbar navbar-expand-lg navbar-dark rounded myClass">            
            <ul class="navbar-nav mr-auto">                
                <li class="nav-item ">
                    <button id="btn-new" type="button" class="btn btn-default btn_blanco">Nuevo</button>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                 <li class="nav-item ">
                    <button id="btn-cancel" type="button" class="btn btn-danger btn_rojo" style='display: none;'>Cancelar</button>
                </li>
                <li class="nav-item">
                    <button id="btn-save" type="button" class="btn btn-sucess btn_verde" style='display: none;'>Guardar</button>
                </li>
            </ul>
        </nav>
    </section>

    <div id="wrapper" style="display:none;">
        <form class="frm-register" onsubmit="return false">                            
            <div class="col-lg-12">
                <label class="lbl-register ">
                    Proveedor 
                    <select id="cmb-proveedor" tabindex="1" class="form-control" style="width: 100%;"></select>
                </label>
            </div>               
        </form>
        <div class="col-xs-12 col-md-12">
            <table id="Tbl_Facturas" class="display compact" cellspacing="0" width="100%"></table>
        </div>
        <form class="frm-register" onsubmit="return false">                            
            <div class="col-lg-3">
                <label class="lbl-register" >Total Saldo</label>
            </div>
            <div class="col-lg-3">                
                <input type="text" id="txt-tot_saldo" placeholder="Total Saldo" name="Tot_Saldo" tabindex="2" class="form-control" disabled="disabled"/>                
            </div> 
            <div class="col-lg-3">
                <label class="lbl-register" >Total Pagar</label>
            </div>
            <div class="col-lg-3">                
                <input type="text" id="txt-tot_pagar" placeholder="Total Pagar" name="Tot_Pagar" tabindex="3" class="form-control" disabled="disabled"/>                
            </div> 
            <br />
            <div class="col-lg-3">
                <label class="lbl-register">
                    Fecha
                    <input type="text" id="txt-fecha" placeholder="Fecha" name="Fecha" tabindex="4" class="form-control" />
                </label>
            </div>
            <div class="col-lg-3">
                <label class="lbl-register">
                    Forma Pago
                    <select id="cmb-forma_pago" tabindex="5">
                        <option value="">Seleccione</option>
                        <option value="EFECTIVO">EFECTIVO</option>
                        <option value="CHEQUE">CHEQUE</option>
                        <option value="TRANSFERENCIA">TRANSFERENCIA</option>
                        <option value="NOTA CREDITO">NOTA CREDITO</option>
                    </select>
                </label>
            </div>
            <div class="col-lg-3">
                <label class="lbl-register ">
                    Referencia 
                    <input type="text" id="txt-referencia" placeholder="Referencia" name="Referencia" tabindex="6" class="form-control validacion" tipo="caracteres" valores="1234567890.,:;_-|#$%&/()"/>
                </label>
            </div>
            <div class="col-lg-3">
                <label class="lbl-register ">
                    Monto 
                    <input type="text" id="txt-Monto" placeholder="Monto" name="Monto" tabindex="7" class="form-control validacion" tipo="numeros" valores="."/>
                </label>
            </div>
            <div class="col-lg-12">
                <label class="lbl-register ">
                    Concepto 
                    <input type="text" id="txt-concepto" placeholder="Concepto" name="Concepto" tabindex="8" class="form-control validacion" tipo="caracteres" valores="1234567890áéíóúÁÉÍÓÚñÑ.,:;_-|#$%&/() "/>
                </label>
            </div>
        </form>
    </div>
    <div class="row-fluid Reg-Datos" id="Reg-Datos">
        <div class="col-xs-12 col-md-12">
            <table id="Tbl_Registros" class="display compact" cellspacing="0" width="100%"></table>
        </div>
    </div>
</div>

<!-- The Modal Progrees-->
<div class="modal" id="Ventana_Espera">
    <div class="modal-dialog">
        <div class="modal-content">            
            <div class="modal-header">
                <h4 class="modal-title">Procesando</h4>
            </div>
            <div class="modal-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/Seguridad/PagoProveedores.js?v=1.0.3"></script>
}
