﻿@{
    ViewBag.Title = "Salidas";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<div id="Pn-Operacion" class="col-lg-10">
    <div class="col-lg-12">
        <label class="lbl-register " style="text-align:center; font-size:2em;">
            Salidas
        </label>
    </div>
    <section class="container-fluid br-nav">
        <nav class="navbar navbar-expand-lg navbar-dark rounded myClass">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <button id="btn-new" type="button" class="btn btn-default btn_blanco">Nuevo</button>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                    <button id="btn-cancel" type="button" class="btn btn-danger btn_rojo" style='display: none;'>Cancelar</button>
                </li>
                <li class="nav-item">
                    <button id="btn-save" type="button" class="btn btn-sucess btn_verde" style='display: none;'>Guardar</button>
                </li>
            </ul>
        </nav>
    </section>

    <div id="wrapper" style="display:none;">
        <form class="frm-register" onsubmit="return false">
            <div class="container col-lg-12">
                <div class="row">
                    <div class="col-lg-2">
                        <label class="lbl-register ">
                            No. Salida
                            <input type="text" id="txt-no-salida" placeholder="Número salida" name="No_Entrada" tabindex="1" class="form-control validacion" tipo="numeros" disabled />
                        </label>
                    </div>
                    <div class="col-lg-2">
                        <label class="lbl-register ">
                            Fecha
                            <input type="text" id="txt-fecha" placeholder="dd/mm/aaaa" name="Fecha" tabindex="1" class="form-control" />
                        </label>
                    </div>
                    <div class="col-lg-2">
                        <label class="lbl-register ">
                            Estatus
                            <select id="cmb-stt" tabindex="2">
                                <option value="">Seleccione</option>
                                <option value="ACTIVO">ACTIVO</option>
                                <option value="INACTIVO">INACTIVO</option>
                            </select>
                        </label>
                    </div>
                    <div class="col-lg-2">
                        <label class="lbl-register ">
                            TIPO ACTIVIDAD
                            <select id="cmb-tipo-actividad" tabindex="3">
                                <option value="">Seleccione</option>
                                <option value="RIEGO">RIEGO</option>
                                <option value="FUMIGACION">FUMIGACION</option>
                                <option value="ACTIVIDAD">ACTIVIDAD</option>
                                <option value="CORTE">CORTE</option>
                                <option value="DESTAJO">DESTAJO</option>
                            </select>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <label class="lbl-register ">
                            TIPO
                            <select id="cmb-tipo-salida" tabindex="4">
                                <option value="">Seleccione</option>
                                <option value="NORMAL">NORMAL</option>
                                <option value="DEVOLUCION">DEVOLUCION</option>
                                <option value="TRASPASO">TRASPASO</option>
                            </select>
                        </label>
                    </div>
                    <div class="col-lg-4">
                        <label class="lbl-register ">
                            Almacen Origen
                            <select id="cmb-almacen-origen" tabindex="5" class="form-control" style="width: 100%;">
                            </select>
                        </label>
                    </div>
                    <div id="div_almacen_destino" class="col-lg-4" style="visibility:hidden">
                        <label class="lbl-register ">
                            Almacen Destino
                            <select id="cmb-almacen-destino" tabindex="6" class="form-control" style="width: 100%;">
                            </select>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <label class="lbl-register ">
                            No. Empleado realiza
                            <input type="text" id="txt-realiza" name="Realiza" tabindex="7" class="form-control validacion" tipo="numeros"/>
                            <input type="hidden" id="hdn-no-empleado"/>
                        </label>
                    </div>
                </div>                

                <div class="row">
                    <div class="col-lg-3">
                        <label class="lbl-register ">
                            Insumos
                            <select id="cmb-insumos" tabindex="9" class="form-control" style="width: 100%;">
                            </select>
                        </label>
                    </div>
                    <div class="col-lg-2">
                        <label class="lbl-register ">
                            Cantidad
                            <input type="text" id="txt-cantidad" placeholder="Cantidad" name="Cantidad" tabindex="8" class="form-control validacion" tipo="numeros" valores="." />
                        </label>
                    </div>
                    <div class="col-lg-2">
                        <label class="lbl-register ">
                            Unidad
                            <select id="cmb-unidad" tabindex="10">
                            </select>
                        </label>
                    </div>
                    <div class="col-lg-2">
                        <label class="lbl-register ">
                            STOCK
                            <input type="text" id="txt-stock" placeholder="Stock" name="Stock" tabindex="0" class="form-control validacion" tipo="numeros" valores="." disabled />
                        </label>
                    </div>
                    <div class="col-lg-2">
                        <label class="lbl-register ">
                            IMPORTE
                            <input type="text" id="txt-precio" placeholder="Precio" name="Precio" tabindex="10" class="form-control validacion" tipo="numeros" valores="." disabled />
                        </label>
                    </div>
                    <div class="col-lg-1">
                        <label class="lbl-register ">
                            &nbsp;
                            <button type="button" class="btn btn-primary btn-agregar-partida" tabindex="11" style="display:block"><i class="fas fa-plus"></i></button>
                            <input type="hidden" id="hdn-iva" />
                            <input type="hidden" id="hdn-ieps" />
                            <input type="hidden" id="hdn-total" />
                            <input type="hidden" id="hdn-unidad-consumo" />
                            <input type="hidden" id="hdn-unidad-compra" />
                            <input type="hidden" id="hdn-equivalencia" />
                            <input type="hidden" id="hdn-stock" />
                            <input type="hidden" id="hdn-precio" />
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <label class="lbl-register ">
                            SUBTOTAL
                            <input type="text" id="txt-sub-total" placeholder="Subtotal" name="Subtotal" tabindex="1" class="form-control validacion" tipo="numeros" disabled />
                        </label>
                    </div>
                    <div class="col-lg-3">
                        <label class="lbl-register ">
                            IEPS
                            <input type="text" id="txt-ieps" placeholder="IEPS" name="ieps" tabindex="1" class="form-control validacion" tipo="numeros" disabled />
                        </label>
                    </div>
                    <div class="col-lg-3">
                        <label class="lbl-register ">
                            IVA
                            <input type="text" id="txt-iva" placeholder="IVA" name="iva" tabindex="1" class="form-control validacion" tipo="numeros" disabled />
                        </label>
                    </div>
                    <div class="col-lg-3">
                        <label class="lbl-register ">
                            TOTAL
                            <input type="text" id="txt-total" placeholder="Total" name="Total" tabindex="1" class="form-control validacion" tipo="numeros" disabled />
                        </label>
                    </div>
                </div>
                <div class="row">

                    <div class="row-fluid Reg-Datos col-xs-12 col-md-12" id="Reg-Partidas">
                        <label class="lbl-register ">
                            Partidas
                            <table id="Tbl_Partidas" class="display compact" cellspacing="0" width="100%"></table>
                        </label>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="row-fluid Reg-Datos" id="Reg-Datos">
        <div class="col-xs-12 col-md-12">
            <table id="Tbl_Registros" class="display compact" cellspacing="0" width="100%"></table>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/Operacion/Salidas.js?v=1.0.7"></script>
}