﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="~/Content/Image/favicon.ico" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/bootstrap-4.1.1-dist/css/bootstrap.min.css")
    @Styles.Render("~/Content/Recursos/xenon/css/xenon-skins.css")
    @Styles.Render("~/Content/Recursos/xenon/css/custom.css")
    @Styles.Render("~/Content/Site.css")

</head>
    <body class="page-body login-page" cz-shortcut-listen="true">
        <div id="login-container" class="login-container" >
            <div class="row justify-content-lg-center">
                <div class="col-sm-6 col-sm-offset-3">
                    <!-- Errors container -->
                    <div class="errors-container"></div>

                    <!-- Add class "fade-in-effect" for login form effect -->
                    <form method="post" role="form" id="login" class="login-form fade-in-effect in" novalidate="novalidate">

                        <div class="login-header" style="margin-bottom:20px !important">
                            <div class="row">
                                <div class="col-md-12">
                                    <img src="/Content/Image/logo_empresa.jpg" style="width: 60%; height: 60%; margin:5% 20%">

                                </div>
                                <div class="col-md-12">
                                    <span class="h2" style="">MODULOS SISTEMAS</span>

                                    <p>Ingresa tus datos para accesar al sistema.</p>
                                </div>
                            </div>
                        </div>                        
                        <div id="login-usuario" class="row" style="display:block;">
                            @RenderBody()
                        </div>                        
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modal_recuperar_password" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="myModalLabel">Recuperar contraseña</h4>
                    </div>
                    <div class="modal-body">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="text-center">
                                    <h3><i class="fa fa-lock fa-4x"></i></h3>
                                    <h2 class="text-center">Recuperar Password</h2>
                                    <p>Enviaremos su password a la cuenta de correo que se configuró al registrarse.</p>
                                    <div class="panel-body">

                                        <form class="form">
                                            <fieldset>
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="glyphicon glyphicon-envelope color-blue"></i>
                                                        </span>

                                                        <input class="form-control fix-form-control" id="emailInput" required="" onchange="try{setCustomValidity('')}catch(e){}" oninvalid="setCustomValidity('Por favor ingresar una dirección de correo válida!')" type="email" placeholder="email">
                                                    </div>
                                                </div>
                                                <div class="form-group">

                                                    <button id="btn_enviar_email" class="btn btn-lg btn-primary  btn-block btn-icon btn-icon-standalone btn-icon-standalone-right" type="submit">
                                                        <i class="fa fa-paper-plane" aria-hidden="true"></i>
                                                        <span>Enviar</span>
                                                    </button>
                                                </div>
                                            </fieldset>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </body>
    @Scripts.Render("~/Scripts/jquery-3.3.1.min.js")
    @Scripts.Render("~/Scripts/jquery-migrate-3.0.0.js")
    @Scripts.Render("~/Content/bootstrap-4.1.1-dist/js/bootstrap.bundle.min.js")
    @Scripts.Render("~/Content/bootstrap-4.1.1-dist/js/bootstrap.min.js")
    <script type="text/javascript">
        $(document).ready(function (e) {
            $("#year").text((new Date).getFullYear());
        });

    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
