﻿@model SRG_APLExamenes.Models.Assistant.Login
@{
    ViewBag.Title = "Sistema | Login";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<!-- /.col-lg-3 -->
<div id="Pn-Administrador" class="col-lg-12  justify-content-lg-center">
    <div class="limiter">
        @using (Html.BeginForm())
        {
            <div class="validate-input" data-validate="Enter usuario">
                @Html.TextBoxFor(x => x.Usuario, new { @maxlength = "50", @class = "input100", id = "correo" })
                <span class="focus-input100" data-placeholder="Usuario"></span>
            </div>
            <br />
            <div class="validate-input" data-validate="Enter password">
                <span class="btn-show-pass">
                    <i class="far fa-eye"></i>
                </span>
                @Html.PasswordFor(x => x.Password, new { @class = "input100" })
                <span class="focus-input100" data-placeholder="Password"></span>
            </div>
            if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
            {

                <div class="text-center">
                    <h5><span class="badge badge-warning">Usuario o Contraseña incorrecta</span></h5>
                </div>
            }
            <div class="container-login100-form-btn">
                <div class="wrap-login100-form-btn">
                    <div class="login100-form-bgbtn"></div>
                    <button id="login" type="submit" class="login100-form-btn">
                        Login
                    </button>
                </div>
            </div>
            <div class="login-footer">
                <div class="info-links text-center">
                    Derechos Reservados © 2019 <a href="http://www.td-solutions.com.mx/" target="_blank">Soluciones TD S.A. de C.V.</a>
                </div>
            </div>
        }
    </div>
</div>

@section scripts{
    <script src="~/Scripts/Seguridad/Verificacion.js?v=1.0.1"></script>    
}
