﻿@{
    ViewBag.Title = "Unidad";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<div id="Pn-Operacion" class="col-lg-10">    
    <div class="col-lg-12">
        <label class="lbl-register " style="text-align:center; font-size:2em;">
            Unidad
        </label>
    </div>
    <section class="container-fluid br-nav">
        <nav class="navbar navbar-expand-lg navbar-dark rounded myClass">            
            <ul class="navbar-nav mr-auto">                
                <li class="nav-item ">
                    <button id="btn-new" type="button" class="btn btn-default btn_blanco">Nuevo</button>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                 <li class="nav-item ">
                    <button id="btn-cancel" type="button" class="btn btn-danger btn_rojo" style='display: none;'>Cancelar</button>
                </li>
                <li class="nav-item">
                    <button id="btn-save" type="button" class="btn btn-sucess btn_verde" style='display: none;'>Guardar</button>
                </li>
            </ul>
        </nav>
    </section>

    <div id="wrapper" style="display:none;">
        <form class="frm-register" onsubmit="return false">                
            <div class="col-lg-6">
                <label class="lbl-register ">
                    Nombre
                    <input type="text" id="txt-nombre" placeholder="Nombre" name="Nombre" tabindex="1" class="form-control validacion" tipo="caracteres" valores="1234567890áéíóúÁÉÍÓÚñÑ"/>
                </label>
            </div>
            <div class="col-lg-6">
                <label class="lbl-register ">
                    Modelo
                    <input type="text" id="txt-modelo" placeholder="Modelo" name="Modelo" tabindex="2" class="form-control validacion" tipo="caracteres" valores="1234567890áéíóúÁÉÍÓÚñÑ"/>
                </label>
            </div>
            <div class="col-lg-4">
                <label class="lbl-register ">
                    Año
                    <input type="text" id="txt-anio" placeholder="Año" name="Anio" tabindex="3" class="form-control validacion" tipo="numeros" valores=""/>
                </label>
            </div>
            <div class="col-lg-4">
                <label class="lbl-register ">
                    Marca
                    <input type="text" id="txt-marca" placeholder="Marca" name="Marca" tabindex="4" class="form-control validacion" tipo="caracteres" valores="1234567890áéíóúÁÉÍÓÚñÑ"/>
                </label>
            </div>
            <div class="col-lg-4">
                <label class="lbl-register ">
                    Estatus
                    <select id="cmb-stt" tabindex="5">
                        <option value="">Seleccione</option>
                        <option value="ACTIVO">ACTIVO</option>
                        <option value="INACTIVO">INACTIVO</option>
                    </select>
                </label>
            </div>  
            <div class="col-lg-12">
                <label class="lbl-register ">
                    Comentarios
                    <input type="text" id="txt-comentarios" placeholder="Comentarios" name="Comentarios" tabindex="6" class="form-control validacion" tipo="caracteres" valores="1234567890áéíóúÁÉÍÓÚñÑ"/>
                </label>
            </div>            
        </form>
    </div>
    <div class="row-fluid Reg-Datos" id="Reg-Datos">
        <div class="col-xs-12 col-md-12">
            <table id="Tbl_Registros" class="display compact" cellspacing="0" width="100%"></table>
        </div>
    </div>
</div>

<!-- The Modal Progrees-->
<div class="modal" id="Ventana_Espera">
    <div class="modal-dialog">
        <div class="modal-content">            
            <div class="modal-header">
                <h4 class="modal-title">Procesando</h4>
            </div>
            <div class="modal-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/Seguridad/Unidad.js?v=1.0.1"></script>
}

