﻿@{
    ViewBag.Title = "RptAutomoviles";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<div id="Pn-Reporte" class="col-lg-10">
    <div class="col-lg-12">
        <label class="lbl-register " style="text-align:center; font-size:2em;">
            Reporte Automoviles
        </label>
    </div>
    <section class="container-fluid br-nav">
        <nav class="navbar navbar-expand-lg navbar-dark rounded myClass">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <button id="btn-cns" type="button" class="btn btn-info btn_azul">Consultar</button>
                </li>                
            </ul>
            <ul class="navbar-nav ml-auto">                
                <li class="nav-item">
                    <button id="btn-xcl" type="button" class="btn btn-sucess btn_verde" >Exportar Excel</button>
                </li>
            </ul>
        </nav>
    </section>

    <div id="wrapper">
        <form class="frm-register" onsubmit="return false"> 
            <div class="col-lg-4">
                <label class="lbl-register">
                    Fecha Inicio
                    <input type="text" id="txt-fecha_inicio" placeholder="Fecha Inicio" name="Fecha_Inicio" tabindex="1" class="form-control" />
                </label>
            </div>   
            <div class="col-lg-4">
                <label class="lbl-register">
                    Fecha Fin
                    <input type="text" id="txt-fecha_fin" placeholder="Fecha Fin" name="Fecha_Fin" tabindex="2" class="form-control" />
                </label>
            </div> 
            <div class="col-lg-4">
                <label class="lbl-register">
                    No Empleado
                    <input type="text" id="txt-no_empleado" placeholder="No Empleado" name="No_Empleado" tabindex="3" class="form-control validacion" tipo="numeros"/>
                </label>
            </div>            
            <hr />
        </form>        
    </div>
    
    <div class="row-fluid Reg-Datos" id="Reg-Datos">
        <div class="col-xs-12 col-md-12">
            <table id="Tbl_Registros" class="display compact" cellspacing="0" width="100%"></table>
        </div>
    </div>
</div>

<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Detalles</h4>
                @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form class="frm-register" onsubmit="return false">
                    <div class="col-lg-6">
                        <label class="lbl-register">
                            Fecha
                            <input type="text" id="txt-fecha" placeholder="Fecha" name="Fecha" class="form-control" disabled="disabled" />
                        </label>
                    </div>      
                    <div class="col-lg-6">
                        <label class="lbl-register">
                            Unidad
                            <input type="text" id="txt-unidad" placeholder="Unidad" name="Unidad" class="form-control" disabled="disabled" />
                        </label>
                    </div>
                    <div class="col-lg-6">
                        <label class="lbl-register">
                            No Empleado
                            <input type="text" id="txt-no_tarjeta" placeholder="No Tarjeta" name="No_Tarjeta" class="form-control" disabled="disabled" />
                        </label>
                    </div>
                    <div class="col-lg-6">
                        <label class="lbl-register">
                            Empleado
                            <input type="text" id="txt-empleado" placeholder="Empleado" name="Empleado" class="form-control" disabled="disabled" />
                        </label>
                    </div>      
                    <div class="col-lg-6">
                        <label class="lbl-register">
                            Nivel Gasolina
                            <input type="text" id="txt-nivel_gasolina" placeholder="Nivel Gasolina" name="Nivel_Gasolina" class="form-control" disabled="disabled" />
                        </label>
                    </div>
                    <div class="col-lg-6">
                        <label class="lbl-register">
                            Horas
                            <input type="text" id="txt-horas" placeholder="Horas" name="Horas" class="form-control" disabled="disabled" />
                        </label>
                    </div>
                    <div class="col-lg-6">
                        <label class="lbl-register">
                            Labor
                            <input type="text" id="txt-labor" placeholder="Labor" name="Labor" class="form-control" disabled="disabled" />
                        </label>
                    </div>                    
                    <div class="col-lg-6">
                        <label class="lbl-register">
                            Litros
                            <input type="text" id="txt-litros" placeholder="Litros" name="Litros" class="form-control" disabled="disabled" />
                        </label>
                    </div>
                    <div class="col-lg-6">
                        <label class="lbl-register">
                            Precio Litro
                            <input type="text" id="txt-precio_litro" placeholder="Precio Litro" name="Precio_Litro" class="form-control" disabled="disabled" />
                        </label>
                    </div>  
                </form>
                <div class="row-fluid Reg-Datos">
                    <div class="col-xs-12 col-md-12">
                        <table id="Tbl_Registros_Tablas" cellspacing="0" width="100%"></table>
                    </div>
                </div> 
                    
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button id="btn-modal-close" type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section scripts{        
    <script src="~/Scripts/Seguridad/RptAutomoviles.js?v=1.0.1"></script>
}


