﻿@{
    ViewBag.Title = "RptEntradas";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<div id="Pn-Reporte" class="col-lg-10">
    <div class="col-lg-12">
        <label class="lbl-register " style="text-align:center; font-size:2em;">
            Reporte Entradas
        </label>
    </div>
    <section class="container-fluid br-nav">
        <nav class="navbar navbar-expand-lg navbar-dark rounded myClass">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <button id="btn-cns" type="button" class="btn btn-info btn_azul">Consultar</button>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <button id="btn-xcl" type="button" class="btn btn-sucess btn_verde">Exportar Excel</button>
                </li>
            </ul>
        </nav>
    </section>
    <div id="wrapper">
        <div class="row">
            <div class="col-lg-4">
                <label class="lbl-register ">
                    Fecha Inicio
                    <input type="text" id="txt-fecha-inicio" placeholder="dd/mm/aaaa" name="Fecha_Inicio" tabindex="1" class="form-control" />
                </label>
            </div>
            <div class="col-lg-4">
                <label class="lbl-register ">
                    Fecha Fin
                    <input type="text" id="txt-fecha-fin" placeholder="dd/mm/aaaa" name="Fecha_Fin" tabindex="2" class="form-control" />
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <label class="lbl-register ">
                    Almacen
                    <select id="cmb-almacen" tabindex="3" class="form-control" style="width: 100%;"></select>
                </label>
            </div>
            <div class="col-lg-4">
                <label class="lbl-register ">
                    Proveedor
                    <select id="cmb-proveedor" tabindex="4" class="form-control" style="width: 100%;"></select>
                </label>
            </div>
            <div class="col-lg-4">
                <label class="lbl-register ">
                    Insumo
                    <select id="cmb-insumos" tabindex="5" class="form-control" style="width: 100%;"></select>
                </label>
            </div>
        </div>
        <hr />



        <div class="row-fluid Reg-Datos" id="Reg-Datos">
            <div class="col-xs-12 col-md-12">
                <table id="Tbl_Registros" class="display compact" cellspacing="0" width="100%"></table>
            </div>
        </div>

    </div>
    @section scripts{
        <script src="~/Scripts/Reportes/Rpt_Entradas.js?v=1.0.1"></script>
    }
