﻿@{
    ViewBag.Title = "RptSaldosVencidosProveedores";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<div id="Pn-Reporte" class="col-lg-10">
    <div class="col-lg-12">
        <label class="lbl-register " style="text-align:center; font-size:2em;">
            Reporte de Saldos Vencidos Proveedores
        </label>
    </div>
    <section class="container-fluid br-nav">
        <nav class="navbar navbar-expand-lg navbar-dark rounded myClass">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <button id="btn-cns" type="button" class="btn btn-info btn_azul">Consultar</button>
                </li>                
            </ul>
            <ul class="navbar-nav ml-auto">                
                <li class="nav-item">
                    <button id="btn-xcl" type="button" class="btn btn-sucess btn_verde" >Exportar Excel</button>
                </li>
            </ul>
        </nav>
    </section>

    <div id="wrapper">
        <form class="frm-register" onsubmit="return false"> 
            <div class="col-lg-4">
                <label class="lbl-register ">
                    No Factura
                    <input type="text" id="txt-no_factura" placeholder="No Factura" name="No_Factura" tabindex="1" class="form-control validacion" tipo="caracteres" valores="1234567890.,:;-_/#$%&()"/>
                </label>
            </div>
            @*<div class="col-lg-4">
                <label class="lbl-register">
                    Fecha Inicio
                    <input type="text" id="txt-fecha_inicio" placeholder="Fecha Inicio" name="Fecha_Inicio" tabindex="2" class="form-control" />
                </label>
            </div>   *@
            <div class="col-lg-4">
                <label class="lbl-register">
                    Fecha
                    <input type="text" id="txt-fecha_fin" placeholder="Fecha" name="Fecha_Fin" tabindex="3" class="form-control" />
                </label>
            </div>  
            <div class="col-lg-12">
                <label class="lbl-register ">
                    Proveedor 
                    <select id="cmb-proveedor" tabindex="4" class="form-control" style="width: 100%;"></select>
                </label>
            </div>               
            <hr />
        </form>        
    </div>
    
    <div class="row-fluid Reg-Datos" id="Reg-Datos">
        <div class="col-xs-12 col-md-12">
            <table id="Tbl_Registros" class="display compact" cellspacing="0" width="100%"></table>
        </div>
        <form class="frm-register" onsubmit="return false">             
            <div class="col-lg-2">
                <label class="lbl-register" style="text-align:right">Saldo</label>
            </div>
            <div class="col-lg-2">                
                <input type="text" id="txt-saldo" placeholder="Saldo" name="Saldo" tabindex="7" class="form-control" disabled="disabled"/>                
            </div> 
        </form>
    </div>

</div>
@section scripts{        
    <script src="~/Scripts/Seguridad/RptSaldosVencidosProveedores.js?v=1.0.1"></script>
}

