html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
}
* {
    box-sizing: border-box;
}
.fa-4x {
    font-size: 4em !important;
}

.fix-form-control {
    margin: 0px !important;
}
.login-page {
    background: #fff;
    color: #2c2e2f;
    padding-top: 50px;
}

    .login-page .errors-container {
        margin-bottom: 20px;
        padding: 0 30px;
    }
    .login-page .login-form .fade-in-effect {
        left: 30%;
    }
    .login-page .login-form {
        background: rgba(0, 0, 0, 0.05);
        position: relative;
        padding: 30px;
        margin-bottom: 20px;
    }

        .login-page .login-form .fade-in-effect {
            zoom: 1;
            -webkit-opacity: 0;
            -moz-opacity: 0;
            opacity: 0;
            -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
            filter: alpha(opacity=0);
            -webkit-transition: all 800ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
            -moz-transition: all 800ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
            -o-transition: all 800ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
            transition: all 800ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
        }

@media screen and (max-width: 768px) {
    .login-page .login-form.fade-in-effect {
        left: 0;
    }
}

.login-page .login-form.fade-in-effect .form-group {
    position: relative;
    zoom: 1;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
    -webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
    -webkit-transition-delay: 150ms;
    -moz-transition-delay: 150ms;
    -o-transition-delay: 150ms;
    transition-delay: 150ms;
}

.login-page .login-form.fade-in-effect + .external-login {
    zoom: 1;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
    -webkit-transition: all 500ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
    -moz-transition: all 500ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
    -o-transition: all 500ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
    transition: all 500ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
    -webkit-transition-delay: 100ms;
    -moz-transition-delay: 100ms;
    -o-transition-delay: 100ms;
    transition-delay: 100ms;
}

.login-page .login-form.fade-in-effect.in {
    left: 0;
    zoom: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    filter: alpha(opacity=100);
}

    .login-page .login-form.fade-in-effect.in .form-group {
        top: 0;
        zoom: 1;
        -webkit-opacity: 1;
        -moz-opacity: 1;
        opacity: 1;
        -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        filter: alpha(opacity=100);
    }

    .login-page .login-form.fade-in-effect.in + .external-login {
        zoom: 1;
        -webkit-opacity: 1;
        -moz-opacity: 1;
        opacity: 1;
        -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        filter: alpha(opacity=100);
    }

.login-page .login-form .login-header {
    margin-bottom: 40px;
}

    .login-page .login-form .login-header .logo {
        display: block;
    }

        .login-page .login-form .login-header .logo img {
            vertical-align: baseline;
        }

        .login-page .login-form .login-header .logo span {
            padding-left: 3px;
            color: rgba(151, 152, 152, 0.6);
            font-size: 15px;
            vertical-align: baseline;
        }

    .login-page .login-form .login-header p {
        color: #979898;
        font-size: 13px;
        margin: 0;
        margin-top: 10px;
    }

.login-page .login-form .form-group {
    position: relative;
    margin-bottom: 20px;
}

    .login-page .login-form .form-group .control-label {
        line-height: 40px;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        padding: 0 13px;
        color: #979898;
        cursor: text;
    }

    .login-page .login-form .form-group .form-control {
        height: 40px;
    }

        .login-page .login-form .form-group .form-control::-moz-placeholder {
            color: rgba(151, 152, 152, 0.5);
            opacity: 1;
        }

        .login-page .login-form .form-group .form-control:-ms-input-placeholder {
            color: rgba(151, 152, 152, 0.5);
        }

        .login-page .login-form .form-group .form-control::-webkit-input-placeholder {
            color: rgba(151, 152, 152, 0.5);
        }

        .login-page .login-form .form-group .form-control::-webkit-input-placeholder {
            color: rgba(151, 152, 152, 0.5);
        }

        .login-page .login-form .form-group .form-control:-moz-placeholder {
            color: rgba(151, 152, 152, 0.5);
        }

        .login-page .login-form .form-group .form-control::-moz-placeholder {
            color: rgba(151, 152, 152, 0.5);
        }

        .login-page .login-form .form-group .form-control:-ms-input-placeholder {
            color: rgba(151, 152, 152, 0.5);
        }

        .login-page .login-form .form-group .form-control.input-dark {
            background: #313334;
            border: 1px solid transparent;
            color: #fff;
        }

            .login-page .login-form .form-group .form-control.input-dark::-moz-placeholder {
                color: rgba(0, 0, 0, 0.5);
                opacity: 1;
            }

            .login-page .login-form .form-group .form-control.input-dark:-ms-input-placeholder {
                color: rgba(0, 0, 0, 0.5);
            }

            .login-page .login-form .form-group .form-control.input-dark::-webkit-input-placeholder {
                color: rgba(0, 0, 0, 0.5);
            }

            .login-page .login-form .form-group .form-control.input-dark::-webkit-input-placeholder {
                color: rgba(0, 0, 0, 0.5);
            }

            .login-page .login-form .form-group .form-control.input-dark:-moz-placeholder {
                color: rgba(0, 0, 0, 0.5);
            }

            .login-page .login-form .form-group .form-control.input-dark::-moz-placeholder {
                color: rgba(0, 0, 0, 0.5);
            }

            .login-page .login-form .form-group .form-control.input-dark:-ms-input-placeholder {
                color: rgba(0, 0, 0, 0.5);
            }

        .login-page .login-form .form-group .form-control.error {
            border-color: rgba(204, 63, 68, 0.5);
        }

    .login-page .login-form .form-group label.error {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        padding-right: 12px;
        font-size: 12px;
        line-height: 40px;
        color: rgba(0, 0, 0, 0.7);
    }

    .login-page .login-form .form-group.validate-has-error .form-control {
        border-color: rgba(204, 63, 68, 0.5);
    }

    .login-page .login-form .form-group.is-focused .control-label {
        zoom: 1;
        -webkit-opacity: 0;
        -moz-opacity: 0;
        opacity: 0;
        -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        filter: alpha(opacity=0);
        visibility: hidden;
    }

    .login-page .login-form .form-group .btn {
        padding-top: 11.11111111px;
        padding-bottom: 11.11111111px;
    }

        .login-page .login-form .form-group .btn i {
            margin-right: 5px;
        }

        .login-page .login-form .form-group .btn.btn-dark {
            border-color: rgba(55, 57, 58, 0.9);
            background-color: #2c2e2f;
            color: #fff;
        }

            .login-page .login-form .form-group .btn.btn-dark:hover {
                background-color: rgba(55, 57, 58, 0.3);
            }

.login-page .login-form .login-footer {
    margin-top: 45px;
}

    .login-page .login-form .login-footer a {
        color: #979898;
    }

        .login-page .login-form .login-footer a:hover {
            color: #bdbebe;
        }

    .login-page .login-form .login-footer .info-links {
        font-size: 11px;
        margin-top: 5px;
        color: rgba(151, 152, 152, 0.7);
    }

        .login-page .login-form .login-footer .info-links a {
            color: rgba(151, 152, 152, 0.7);
        }

            .login-page .login-form .login-footer .info-links a:hover {
                color: #979898;
            }

.login-page .external-login {
    position: relative;
    margin-bottom: 30px;
    padding: 0 30px;
}

    .login-page .external-login a {
        display: block;
        color: #fff;
        background: #2c2e2f;
        padding: 13px 20px;
        font-size: 15px;
        margin-bottom: 10px;
    }

        .login-page .external-login a i {
            margin-right: 5px;
        }

        .login-page .external-login a:hover {
            background: #454849;
        }

        .login-page .external-login a.facebook {
            background-color: #3b5998;
        }

            .login-page .external-login a.facebook:hover {
                background-color: #2d4373;
            }

        .login-page .external-login a.twitter {
            background-color: #55acee;
        }

            .login-page .external-login a.twitter:hover {
                background-color: #2795e9;
            }

        .login-page .external-login a.gplus {
            background-color: #dd4b39;
        }

            .login-page .external-login a.gplus:hover {
                background-color: #c23321;
            }

.login-page.login-light {
    background: #eeeeee;
}

    .login-page.login-light .errors-container,
    .login-page.login-light .external-login {
        padding: 0;
    }

    .login-page.login-light .form-group label.error {
        color: rgba(151, 152, 152, 0.8);
    }

    .login-page.login-light .login-form {
        background: #fff;
        color: #979898;
    }

        .login-page.login-light .login-form .login-footer a {
            color: #68b828;
        }

            .login-page.login-light .login-form .login-footer a:hover {
                color: #508e1f;
            }

        .login-page.login-light .login-form .login-footer .info-links a {
            color: rgba(151, 152, 152, 0.7);
        }

            .login-page.login-light .login-form .login-footer .info-links a:hover {
                color: #979898;
            }

@media screen and (max-width: 768px) {
    .login-page {
        padding-top: 0;
    }

        .login-page .login-form,
        .login-page .errors-container,
        .login-page .external-login {
            padding-left: 10px;
            padding-right: 10px;
        }

        .login-page .errors-container {
            margin-top: 20px;
        }

        .login-page.login-light .login-form {
            padding-left: 30px;
            padding-right: 30px;
        }

        .login-page.login-light .errors-container,
        .login-page.login-light .external-login {
            padding-left: 0;
            padding-right: 0;
        }

        .login-page .row {
            margin: 0;
        }
}

.login-container {
    max-width: 960px;
    margin: 0 auto;
}

.sidebar-menu {
    display: table-cell;
    position: relative;
    width: 340px;
    background: #0063b6 /*#2c2e2f*/;
    z-index: 1;
}