﻿@{
    ViewBag.Title = "Proveedores";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}


<div id="Pn-Operacion" class="col-lg-10">
    <div class="col-lg-12">
        <label class="lbl-register " style="text-align:center; font-size:2em;">
            Proveedores
        </label>
    </div>
    <section class="container-fluid br-nav">
        <nav class="navbar navbar-expand-lg navbar-dark rounded myClass">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <button id="btn-new" type="button" class="btn btn-default btn_blanco">Nuevo</button>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                    <button id="btn-cancel" type="button" class="btn btn-danger btn_rojo" style='display: none;'>Cancelar</button>
                </li>
                <li class="nav-item">
                    <button id="btn-save" type="button" class="btn btn-sucess btn_verde" style='display: none;'>Guardar</button>
                </li>
            </ul>
        </nav>
    </section>

    <div id="wrapper" style="display:none;">
        <form class="frm-register" onsubmit="return false">
            <div class="container col-lg-12">
                <div class="row">
                    <div class="col-lg-4">
                        <label class="lbl-register ">
                            Nombre
                            <input type="text" id="txt-nombre" placeholder="Nombre" name="Nombre" tabindex="1" class="form-control validacion" tipo="caracteres" valores="1234567890áéíóúÁÉÍÓÚñÑ" />
                        </label>
                    </div>
                    <div class="col-lg-8">
                        <label class="lbl-register ">
                            Razon Social
                            <input type="text" id="txt-razon-social" placeholder="Razon Social" name="Razon_Social" tabindex="2" class="form-control validacion" tipo="caracteres" valores="1234567890áéíóúÁÉÍÓÚñÑ" />
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <label class="lbl-register ">
                            RFC
                            <input type="text" id="txt-rfc" placeholder="RFC" name="Rfc" tabindex="3" class="form-control validacion" tipo="caracteres" valores="1234567890áéíóúÁÉÍÓÚñÑ" />
                        </label>
                    </div>
                    <div class="col-lg-4">
                        <label class="lbl-register ">
                            Estatus
                            <select id="cmb-stt" tabindex="4">
                                <option value="">Seleccione</option>
                                <option value="ACTIVO">ACTIVO</option>
                                <option value="INACTIVO">INACTIVO</option>
                            </select>
                        </label>
                    </div>
                    <div class="col-lg-4">
                        &nbsp;
                    </div>
                </div>


                <div class="row">
                    <div class="col-lg-8">
                        <label class="lbl-register ">
                            Direccion
                            <input type="text" id="txt-direccion" placeholder="Dirección" name="Direccion" tabindex="5" class="form-control validacion" tipo="caracteres" valores="1234567890áéíóúÁÉÍÓÚñÑ" />
                        </label>
                    </div>
                    <div class="col-lg-4">
                        <label class="lbl-register ">
                            Colonia
                            <input type="text" id="txt-colonia" placeholder="Colonia" name="Colonia" tabindex="6" class="form-control validacion" tipo="caracteres" valores="1234567890áéíóúÁÉÍÓÚñÑ" />
                        </label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4">
                        <label class="lbl-register ">
                            Ciudad
                            <input type="text" id="txt-ciudad" placeholder="RFC" name="Rfc" tabindex="7" class="form-control validacion" tipo="caracteres" valores="1234567890áéíóúÁÉÍÓÚñÑ" />
                        </label>
                    </div>
                    <div class="col-lg-4">
                        <label class="lbl-register ">
                            Estado
                            <input type="text" id="txt-estado" placeholder="Estado" name="Estado" tabindex="8" class="form-control validacion" tipo="caracteres" valores="1234567890áéíóúÁÉÍÓÚñÑ" />
                        </label>
                    </div>
                    <div class="col-lg-4">
                        <label class="lbl-register ">
                            C&oacute;digo Postal
                            <input type="text" id="txt-cp" placeholder="C&oacute;digo Postal" name="Codigo_Postal" tabindex="9" class="form-control validacion" tipo="numeros" />
                        </label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4">
                        <label class="lbl-register ">
                            Tel&eacute;lefono
                            <input type="text" id="txt-tel" placeholder="Tel&eacute;lefono" name="Telefono" tabindex="10" class="form-control validacion" tipo="caracteres" valores="1234567890áéíóúÁÉÍÓÚñÑ" />
                        </label>
                    </div>
                    <div class="col-lg-4">
                        <label class="lbl-register ">
                            Contacto
                            <input type="text" id="txt-contacto" placeholder="Contacto" name="Contacto" tabindex="11" class="form-control validacion" tipo="caracteres" valores="1234567890áéíóúÁÉÍÓÚñÑ" />
                        </label>
                    </div>
                    <div class="col-lg-4">
                        <label class="lbl-register ">
                            Email
                            <input type="text" id="txt-email" placeholder="Email" name="Email" tabindex="12" class="form-control validacion" tipo="caracteres" valores="1234567890_-." />
                        </label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4">
                        <label class="lbl-register ">
                            Descuento
                            <input type="text" id="txt-descuento" placeholder="Descuento" name="Descuento" tabindex="13" class="form-control validacion" tipo="numeros" valores="1234567890." />
                        </label>
                    </div>
                    <div class="col-lg-4">
                        <label class="lbl-register ">
                            L&iacute;mite de cr&eacute;dito
                            <input type="text" id="txt-limite_credito" placeholder="L&iacute;mite de cr&eacute;dito" name="Limite_Credito" tabindex="14" class="form-control validacion" tipo="numeros" />
                        </label>
                    </div>
                    <div class="col-lg-4">
                        <label class="lbl-register ">
                            Dias Cr&eacute;dito
                            <input type="text" id="txt-dias-credito" placeholder="Dias de Cr&eacute;dito" name="Dias_Credito" tabindex="15" class="form-control validacion" tipo="numeros" />
                        </label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <label class="lbl-register" for="txt-observaciones">Observaciones</label>
                        <textarea class="form-control validacion" id="txt-observaciones" rows="5" placeholder="Observaciones" name="Observaciones" tipo="caracteres" valores="1234567890áéíóúÁÉÍÓÚñÑ"></textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="row-fluid Reg-Datos" id="Reg-Datos">
        <div class="col-xs-12 col-md-12">
            <table id="Tbl_Registros" class="display compact" cellspacing="0" width="100%"></table>
        </div>
    </div>
</div>

<!-- The Modal Progrees-->
<div class="modal" id="Ventana_Espera">
    <div class="modal-dialog">
        <div class="modal-content">            
            <div class="modal-header">
                <h4 class="modal-title">Procesando</h4>
            </div>
            <div class="modal-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/Seguridad/Proveedores.js"></script>
}