﻿@{
    ViewBag.Title = "RptInventario";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}


    <div id="Pn-Reporte" class="col-lg-10">
        <div class="col-lg-12">
            <label class="lbl-register " style="text-align:center; font-size:2em;">
                Reporte Inventario
            </label>
        </div>
        <section class="container-fluid br-nav">
            <nav class="navbar navbar-expand-lg navbar-dark rounded myClass">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <button id="btn-cns" type="button" class="btn btn-info btn_azul">Consultar</button>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <button id="btn-xcl" type="button" class="btn btn-sucess btn_verde">Exportar Excel</button>
                    </li>
                </ul>
            </nav>
        </section>
        <div id="wrapper">
            <div class="row">
                <div class="col-lg-4">
                    <label class="lbl-register ">
                        Almacen
                        <select id="cmb-almacen" tabindex="2" class="form-control" style="width: 100%;"></select>
                    </label>
                </div>
                <div class="col-lg-8">
                    <label class="lbl-register ">
                        Insumos
                        <select id="cmb-insumos" tabindex="2" class="form-control" style="width: 100%;"></select>
                    </label>
                </div>
            </div>
                <div class="row">
                    <div class="col-lg-12" style="display:inline">
                        <!-- Default checked -->
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="rbt-linea" name="tipo_reporte" value="por_linea" checked>
                            <label class="custom-control-label" for="rbt-linea">Inventario General</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="rbt-reorden" name="tipo_reporte" value="reorden">
                            <label class="custom-control-label" for="rbt-reorden">En punto de reorden</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="rbt-fisico" name="tipo_reporte" value="fisico">
                            <label class="custom-control-label" for="rbt-fisico">Toma de inventario fisico</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="rbt-verificacion" name="tipo_reporte" value="verificacion">
                            <label class="custom-control-label" for="rbt-verificacion">Verificaci&oacute;n de inventario fisico</label>
                        </div>
                    </div>
                </div>
                @*<div class="col-lg-12">
                <input type="radio" id="defaultUnchecked" name="defaultExampleRadios">
                <label class="lbl-register" for="defaultUnchecked">
                    Almacen
                </label>
            </div>*@
                <!-- Default checked -->
                <!-- Material unchecked -->
                <hr />

            

            <div class="row-fluid Reg-Datos" id="Reg-Datos">
                <div class="col-xs-12 col-md-12">
                    <table id="Tbl_Registros" class="display compact" cellspacing="0" width="100%"></table>
                </div>
            </div>

        </div>
@section scripts{
    <script src="~/Scripts/Reportes/Rpt_Inventarios.js?v=1.0.1"></script>
}

